[2019-05-17 16:09] pavanjadhaw opened #5 "[request] publish package to npm registry?"
Publishing spotifydl to npm registry will make it easier for users to install spotifydl seemlessly without hassle using single command
[code]

You can also publish it as scoped package if spotifydl name is already taken
[code]

[2019-05-18 07:33] SwapnilSoni1999 commented on #5
yes, I have plans for that currently I'm having exams so not working right now, will surely publish

[2019-05-29 06:07] BaaBaaBruh opened #6 "Error when running downloader"
Hi, when downloading any song, I get this error:

TypeError: Cannot read property 'length' of undefined
    at PassThrough.download.on (C:\Users\[username]\spotify-dl\lib\downloader.js:30:27)
    at emitNone (events.js:111:20)
    at PassThrough.emit (events.js:208:7)
    at endReadableNT (_stream_readable.js:1064:12)
    at _combinedTickCallback (internal/process/next_tick.js:138:11)
    at proce

[2019-06-03 03:39] SwapnilSoni1999 commented on #6
You need to remove queries from the link
Which are `?si=stuffhere`
I'll add a filter to clean it byself

[2019-06-03 03:39] #6 closed

[2019-06-07 11:19] SwapnilSoni1999 commented on #5
;_; Probably need `__dirname` to `process.cwd()` to make it global command

[2019-06-07 11:23] pavanjadhaw commented on #5
Actually it will work without any changes, if you see the demo gif [here](https://github.com/pavanjadhaw/spotifydl) you would notice it is working without running node cli.js

It has installed executable which can execute using spotifydl command.

[2019-06-07 11:26] pavanjadhaw commented on #5
[Docs](https://docs.npmjs.com/files/package.json#bin) for reference and we have already added it.
So now all you need to do is publish package to [npmjs.com](https://www.npmjs.com/)
[Here](https://docs.npmjs.com/packages-and-modules/contributing-packages-to-the-registry) is official documentation on publishing your packages to npm

[2019-06-07 11:55] SwapnilSoni1999 commented on #5
I know but problem is its saving where the cli.json is... need to make it more dynamic like youtube-dl to use over any directory

[2019-06-07 12:23] pavanjadhaw commented on #5
Oh I forgot about that, the latest commit on my [fork](https://github.com/pavanjadhaw/spotifydl/commit/9eae70dcd9295b1a3e079cc6dbc5844899a03ccd) will fix it.
Cherrypick it and you are good to go.

[2019-06-21 14:46] akyag opened #7 "Encoder used"
Hi, thanks for the lovely downloader. I have a question though, the downloaded files have mp3 extension and mediainfo shows the encoder format used is opus. But I haven't had any luck converting them to mp3 (since most mp3 devices cant play opus yet). Are you fetching files as it is or converting as well? Also have you had luck converting the downloaded files?

ffmpeg throws this error -
`Header m

[2019-06-21 15:51] #7 closed

[2019-07-11 15:11] SwapnilSoni1999 commented on #5
Done with publishing on npm <3

You can install with
`npm install -g spotify-dl`
or
`sudo npm install -g spotify-dl`

[2019-07-11 15:11] #5 closed

[2019-07-11 18:46] pavanjadhaw commented on #5
Awesome

[2019-07-25 12:32] lucasvieceli opened #9 "Bug : Command failed: where ffmpeg"
Windows: 10 x64

[code]

[2019-07-25 12:48] lucasvieceli commented on #9
CLOSED :D

[2019-07-25 13:05] lucasvieceli commented on #9
[code]

[2019-07-25 23:13] gsdsd commented on #9
Please read **README.MD**.
And install FFMPEG -> [https://ffmpeg.zeranoe.com/builds/](https://ffmpeg.zeranoe.com/builds/)

[2019-07-30 07:17] SwapnilSoni1999 commented on #9
Install FFMPEG and set to environment variable.

[2019-07-30 07:17] #9 closed

[2019-08-16 11:32] joebetmutia opened #12 "Error running"
![image](https://user-images.githubusercontent.com/35093942/63164940-89a00280-c05c-11e9-8b02-925dfe281902.png)

Hi guys i had experience this when running even installed the ffmpeg any thoughts?

[2019-08-16 11:39] joebetmutia commented on #12
![image](https://user-images.githubusercontent.com/35093942/63165281-8f4a1800-c05d-11e9-83e4-ad499f7fbbc6.png)

[2019-08-21 03:32] SwapnilSoni1999 commented on #12
Strange! Have you installed with npm install -g ?

[2019-08-21 10:52] joebetmutia commented on #12
@SwapnilSoni1999  its my bad.. im so sorry im new to npm..

here is my error now.. i had installed already ffmpeg also running the cmd as admin but this happens.

![image](https://user-images.githubusercontent.com/35093942/63426220-ddd42980-c444-11e9-8715-3d03ad92cead.png)

any thoughts pls?

[2019-08-22 09:31] SwapnilSoni1999 commented on #12
It says permission denied! Still strange because you're running as admin. If in your windows doesn't work then you can try in termux.

[2019-08-31 14:22] nij4t opened #14 "feat: Add support for parallel downloads"
When downloading albums/playlists the app can handle only one track at a time.  Once it finishes downloading that track it switches to another one in the queue.
Using nodejs workers that was introduced in v10 can be used to delegate downloading of tracks to a dedicated thread. Another way of implementing that feature is to use process forks to support older versions of nodejs.

[2019-08-31 15:07] aspartame21 commented on #12
Make sure the folder you are trying to download the song to is not **Read-Only**

[2019-09-01 15:49] SwapnilSoni1999 commented on #14
Seems good though, will work on it. <3

[2019-09-12 06:10] SwapnilSoni1999 commented on #12
Seems no response will be closing in a while

[2019-10-05 17:23] TarushS opened #15 "Error downloading"
ℹ 6. Song: Flexem - Ohmie
⠙ Downloading...events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: Input stream error: Too many redirects
    at PassThrough.<anonymous> (/usr/local/lib/node_modules/spotify-dl/node_modules/fluent-ffmpeg/lib/processor.js:452:34)
    at emitOne (events.js:121:20)
    at PassThrough.emit (events.js:211:7)
    at PassThrough.req.prependListener (/usr/lo

[2019-10-08 08:15] eioo opened #16 "Problems with downloads"
Tried to download this track: https://open.spotify.com/track/6Ey0OR1AwumO2jgYnNo0MK?si=D4va3fMdRVqmcdl0bOpMrQ
(Don't mind the song lol)

Greeted with this error:
[code]

Also, I tried to download this song: https://open.spotify.com/track/7bqpbw3e3TeJwgYWRYtE1K?si=eyFynJ5eReKff4Qr5HOMyQ

It says the download is 3401.37MB in size, the song in itself is like 1:15 long, here's the output:
[code]

(Obv

[2019-10-10 10:06] SwapnilSoni1999 commented on #16
because it uses youtube-dl it might be some issues with that though cant help with youtube's seo and for that error try pasting the url with quotes

[2019-10-10 10:07] SwapnilSoni1999 commented on #15
can you share that playlist url?

[2019-10-11 22:18] ObsidianOne666 opened #17 "Download issue"
Hey , i cant download anything with this.Can you help ?

[code]

[2019-10-23 16:06] TarushS commented on #15
https://open.spotify.com/playlist/2GlfPm1ydSwidF0RYUeais

[2019-10-29 00:52] avremy opened #18 "Error: Not a YouTube domain"
Hi
I seem to be getting the following error on some songs,

[code]

is this a known bug ?

thanks

[2019-10-30 11:12] SwapnilSoni1999 commented on #18
probably issue with ytdl-core i guess try again by removing query
(that thing with `?si=...`)

[2019-10-30 11:13] SwapnilSoni1999 commented on #17
you need to get ffmpeg

[2019-10-30 11:13] #17 closed

[2019-10-30 12:39] xboxnoob opened #19 "If you try download a Album/playlist with spaces it creates a corrupted folder"
The folder it creates only is visible to directory listings but if you try delete it says that this folder doesnt exist
I only tested this on windows i will get a linux machine up later and test this

[2019-10-30 12:40] xboxnoob commented on #19
`events.js:174
      throw er; // Unhandled 'error' event
      ^

Error: ffmpeg exited with code 1: D:\Utamonogatari Special Edition (Original Soundtrack) - Aniplex Inc.\Staple Stable - MONOGATARI Series.mp3: No such file or directory

    at ChildProcess.<anonymous> (C:\Users\conor\AppData\Roaming\npm\node_modules\spotify-dl\node_modules\fluent-ffmpeg\lib\processor.js:182:22)
    at ChildProcess

[2019-11-05 13:09] avremy commented on #18
Hi
tried without the query and have the same response,
[code]

thanks

[2019-11-18 12:39] SwapnilSoni1999 commented on #18
seems weird can you try using a vpn to your system and check please

[2019-11-18 12:40] #16 closed

[2019-11-18 13:05] avremy commented on #18
[code]

that seemed to fix it

thank you very much

what  do you think could cause such it?

[2019-11-19 10:15] SwapnilSoni1999 commented on #18
Maybe because that video on youtube (which it references to) might got a ban in your region

[2019-11-28 09:18] SwapnilSoni1999 commented on #15
check if it works with a vpn or not or proxy it should work as mentioned at #18

[2019-11-28 09:18] #15 closed

[2019-12-03 02:33] AnasGhareib opened #21 "erorr"
module.js:549
    throw err;
    ^

Error: Cannot find module 'm3u8stream/lib/parse-time'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/home/elanoos/spotify-dl/node_modules/ytdl-core/lib/info-extras.js:5:21)
    at Module._compi

[2019-12-13 08:03] wjkhoo96 commented on #21
Here's the solution that I found
https://stackoverflow.com/questions/58965713/cannot-find-module-m3u8stream-lib-parse-time

[2020-01-08 00:58] Wizard451345 commented on #21
Is this the same thing right?

i ©
internal/modules/cjs/loader.js:798
    throw err;
    ^

Error: Cannot find module 'm3u8stream/lib/parse-time'
Require stack:
- /data/data/com.termux/files/usr/lib/node_modules/spotify-dl/node_modules/ytdl-core/lib/info-extras.js
- /data/data/com.termux/files/usr/lib/node_modules/spotify-dl/node_modules/ytdl-core/lib/info.js
- /data/data/com.termux/files/usr/lib/

[2020-01-12 00:45] arnauldb opened #22 "Termux uninstall"
Hello,

how can I uninstall in termux?

Thank you.

[2020-01-13 14:35] gayatri-p opened #23 "Module not found"
Running on Android 10.0 termux shows this error.
[code]

PS: ffmpeg installed and running

[2020-01-20 12:40] EsmailELBoBDev2 commented on #23
same on debian 10

[2020-01-27 12:40] nagualcode commented on #23
same on osx

[2020-01-27 16:19] EsmailELBoBDev2 commented on #23
we need one more to confirm it on apple to proof it not works on all platforms

[2020-01-31 05:35] TsPuujee commented on #23
same on mac

[2020-01-31 12:00] EsmailELBoBDev2 commented on #23
oh wait osx = iphone ? i just noticed it now lol

[2020-01-31 12:01] EsmailELBoBDev2 commented on #23
@SwapnilSoni1999 so do you have plan ?

[2020-02-01 09:04] SwapnilSoni1999 commented on #23
I have to inspect which lib causing this gonna update in few days

[2020-02-01 09:18] #18 closed

[2020-02-01 09:20] SwapnilSoni1999 commented on #22
just `npm uninstall -g spotify-dl`

[2020-02-01 09:20] #22 closed

[2020-02-01 09:22] SwapnilSoni1999 commented on #23
seems like issue with [https://github.com/fent/node-ytdl-core/pull/520](ytdl-core)
will implement a temporary fix

[2020-02-01 09:22] SwapnilSoni1999 commented on #23
seems like issue with [ytdl-core](https://github.com/fent/node-ytdl-core/pull/520)
will implement a temporary fix

[2020-02-01 10:36] SwapnilSoni1999 commented on #21
Fixed on v0.1.6

[2020-02-01 10:36] #21 closed

[2020-02-09 09:48] SwapnilSoni1999 commented on #23
I guess its still buggy and it cannot fetch new stuff now I've checked the PR on ytdl-core
I hope they soon pull it and fix

[2020-02-16 22:01] Riku32 opened #24 "Throws error"
| Downloading...events.js:187
      throw er; // Unhandled 'error' event
      ^

Error: Input stream error: This video is unavailable
    at PassThrough.<anonymous> (D:\Downloads\Song\spotify-dl\node_modules\fluent-ffmpeg\lib\processor.js:452:34)
    at PassThrough.emit (events.js:210:5)
    at D:\Downloads\Song\spotify-dl\node_modules\ytdl-core\lib\index.js:19:14
    at D:\Downloads\Song\spotify

[2020-02-20 16:21] SwapnilSoni1999 commented on #24
try with vpn

[2020-02-24 18:03] SwapnilSoni1999 commented on #24
fixed with release 0.1.8

https://github.com/SwapnilSoni1999/spotify-dl/releases/tag/0.1.8

[2020-02-24 18:03] #24 closed

[2020-02-24 18:19] SwapnilSoni1999 commented on #23
fixed with release 0.1.8
https://github.com/SwapnilSoni1999/spotify-dl/releases/tag/0.1.8

[2020-02-24 18:19] #23 closed

[2020-03-10 19:04] marcdubois71450 opened #25 "Error in playlist link"
Hello,
I am having a problem with your library, the application is blocking 30 th music in a playlist, here is the error. But I don't understand the error ?

[code]

Voici le lien de la playlist : https://open.spotify.com/playlist/4tYmq6H1dowHunEZ8lQJTO?si=hY1IgOrGQJK7nXoU7Y8vYw

thank you so much

[2020-03-16 08:36] SwapnilSoni1999 commented on #25
it could be that the music  which is on youtube, cant be accessed via your ip
Try with any vpn and inform please.

[2020-03-16 12:41] ImDarkShadow opened #27 "No album art"
Songs downloading without album art

[2020-03-31 05:39] SwapnilSoni1999 commented on #27
Thing is it shows in vlc
Have to figure it out though.

[2020-04-02 22:21] #25 closed

[2020-04-02 22:22] SwapnilSoni1999 commented on #25
closed because of inactivity

[2020-04-02 22:22] #14 closed

[2020-04-02 22:23] SwapnilSoni1999 commented on #19
can you share the spotify url please

[2020-04-02 22:27] SwapnilSoni1999 commented on #27
Fixed! will be publishing soon!
![image](https://user-images.githubusercontent.com/25403317/78305693-359c4c80-755f-11ea-8e3a-5b846497a62d.png)

[2020-04-02 22:29] #27 closed

[2020-04-08 14:39] inglesuniversal opened #28 "Feature request"
can this script be accessible on a website once installed on a LAMP server?

another question:

how can I configure the output so I get:

ARTIST - TRACK.mp3 (instead of the opposite)

best regards

[2020-05-01 15:24] inglesuniversal commented on #28
Any update on my feature request?

[2020-05-02 14:54] KapelS opened #30 "Eternal loading"
![Снимок экрана от 2020-05-02 17-52-11](https://user-images.githubusercontent.com/63398526/80867629-d9336680-8c9d-11ea-8d85-9a2fa33a20fb.png)
Not loading, eternal loading
Some songs do not want to download

[2020-05-05 22:20] valkyrienyanko commented on #18
Maybe add error handling so the program doesn't crash just because one song in the playlist was banned in your region.

[2020-05-06 16:58] SwapnilSoni1999 commented on #30
Can you please try with vpn and inform.
Thanks.

[2020-05-06 18:42] SwapnilSoni1999 commented on #28
Actually I was working on it and recently, I messed up with my code so had to redo it. You have to wait little longer else you can reference following lines to edit

https://github.com/SwapnilSoni1999/spotify-dl/blob/master/cli.js#L87
https://github.com/SwapnilSoni1999/spotify-dl/blob/master/cli.js#L107
https://github.com/SwapnilSoni1999/spotify-dl/blob/master/cli.js#L120

here you can edit last a

[2020-05-06 20:39] inglesuniversal commented on #28
I think I messed up the code .... :(

⠙ Downloading...events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: ffmpeg was killed with signal SIGABRT
    at ChildProcess.<anonymous> (/usr/local/lib/node_modules/spotify-dl/node_modules/fluent-ffmpeg/lib/processor.js:180:22)
    at ChildProcess.emit (events.js:315:20)
    at Process.ChildProcess._handle.onexit (internal/child_process.

[2020-05-06 22:28] eegli opened #31 "FFmpeg Windows 64 executable not supported"
If you are on Windows 10 64-bit and add the 64-bit version of FFmpeg to your path, it will not work. With the 32-bit executable, everything is fine.

Might be worth adding this to the readme at least. https://ffmpeg.zeranoe.com/builds/

[2020-05-08 03:27] SwapnilSoni1999 commented on #28
seems like ffmpeg error and its not full log though

[2020-05-08 14:27] SwapnilSoni1999 commented on #31
When I made it was working.. Strange though, also I don't have windows machine but I'll surely look in this issue asap. Thanks.

[2020-05-08 21:20] SwapnilSoni1999 commented on #18
will add thanks <3

[2020-05-09 01:40] SaiTeja69 opened #32 "sir full support"
koi issue nahi bas had to say that full support

[2020-05-09 01:41] SaiTeja69 commented on #28
Remember to define --pkg-config-flags="--static"

[2020-05-09 07:04] pojntfx commented on #6
@SwapnilSoni1999 This seams to happen even with the newest version right now.

[2020-05-09 11:40] SwapnilSoni1999 commented on #6
@pojntfx can you paste logs please. Thanks

[2020-05-09 13:49] #32 closed

[2020-05-13 17:44] pojntfx commented on #6
@SwapnilSoni1999 Sure! The issue happens with the following commands, for example:

[code]

[2020-05-13 19:11] #19 closed

[2020-05-29 11:39] #28 closed

[2020-05-29 14:41] Dialpuri opened #33 "Can only download 10 songs then get error on 11th."
![image](https://user-images.githubusercontent.com/44945647/83272301-e1aa8e80-a1c2-11ea-942c-61fc00a61b1a.png)
Here is the error I get

[2020-06-05 17:29] BrOrlandi opened #34 "Download shows episodes"
Is there a way to support downloading shows episodes?
I would like to download some podcast episodes.

Let me know if it's possible and if yes, what does need to change in the code?

[2020-06-08 14:45] BrOrlandi commented on #34
I take a deeper look at the code. You use youtube to download the songs. So, it will not work to download shows episodes as I guess it's maybe not available on youtube or anywhere else.

[2020-06-13 03:42] SwapnilSoni1999 commented on #34
It is using youtube to download songs and also mentioned in README.md
If that podcast is available then it will get downloaded.

[2020-06-13 03:42] #34 closed

[2020-06-13 03:44] SwapnilSoni1999 commented on #33
not sure though what's happening. I'm also not aware when and why this happens. But you can still continue downloading from where you left it will automatically resume it

[2020-06-15 11:49] the-tiny-semicolon commented on #33
I got this too, i think it is api limit that a user can download at a time

[2020-06-15 14:28] Mahdios opened #35 "The tool fails to create a dir with the playlist's name"
**Expected behavior**:  Create a directory to save songs into.
**Current behavior**: Fails to create the directory.
**Platform**:  Win64
**Reason**:  The playlist's name contains illegal chars (like **:**) witch cannot be set in a directory's name.
**Fix**:  Implement a check or a regular expression to find and replace illegal chars
i would be happy to adjust it and open a pr  if you allow me to :

[2020-06-15 14:47] Mahdios commented on #33
![image](https://user-images.githubusercontent.com/64026951/84671532-c90ed800-af27-11ea-8785-8995626e5d68.png)
Its stuck on the first song for me

[2020-06-15 16:40] Dialpuri commented on #33
was working before for me but now I get the same error as Mahdi

On Mon, Jun 15, 2020 at 3:47 PM Mahdi Djaber <notifications@github.com>
wrote:

[2020-06-25 08:37] NeryCast opened #36 "No downloading"
Saving Song to: /data/data/com.termux/files/home/La Copa de Todos - David Correy.mp3
✔ Song: La Copa de Todos - David Correy
⠋ Downloading...TypeError [ERR_INVALID_ARG_TYPE]: The "url" argument must be of type string. Received an instance of TypeError
    at validateString (internal/validators.js:121:11)
    at Url.parse (url.js:159:3)
    at Object.urlParse [as parse] (url.js:154:13)
    at Objec

[2020-06-25 18:32] SwapnilSoni1999 commented on #33
im still not aware why this error is occurring
But i will try to find asap.

[2020-06-25 22:20] Ferryistaken opened #37 "Typerror while downloading"
Sometimes when I start downloading, it downloads like 5 songs, then I get this error
`Downloading...Error: Input stream error: The "url" argument must be of type string. Received an instance of TypeError
    at PassThrough.<anonymous> (/usr/lib/node_modules/spotify-dl/node_modules/fluent-ffmpeg/lib/processor.js:452:34)
    at PassThrough.emit (events.js:315:20)
    at /usr/lib/node_modules/spotify

[2020-07-04 19:43] KallelGaNewk commented on #33
same problem for me

![unknown](https://user-images.githubusercontent.com/61438367/86519869-6d908580-be15-11ea-890b-87b3af6702ce.png)

[2020-07-14 18:41] cedricdelpoux opened #38 "Error: Invalid URL type"
Impossible to dl an "episode" url: https://open.spotify.com/episode/3MswN5ZMd9TALSIMpKDVTE

[2020-07-15 15:51] SwapnilSoni1999 commented on #35
thanks alot <3 will implement this

[2020-07-17 08:06] #36 closed

[2020-07-17 08:06] #37 closed

[2020-07-17 08:06] #38 closed

[2020-07-17 08:07] SwapnilSoni1999 commented on #35
can you share the song url so I can test.

[2020-07-17 08:11] SwapnilSoni1999 commented on #33
I have fixed this in 1fad4b0108a8b8acc03e122c9eec319606cd9ea1

[2020-07-17 08:12] Dialpuri commented on #33
When was the problem?

On Fri, 17 Jul 2020 at 09:11, Swapnil Soni <notifications@github.com> wrote:

[2020-07-17 08:12] Dialpuri commented on #33
What*

On Fri, 17 Jul 2020 at 09:12, J D <dialpuri.jordan@gmail.com> wrote:

[2020-07-17 08:15] SwapnilSoni1999 commented on #33
@Dialpuri
sometimes the `yt-search` module returns with only with `/watch?id=xxx` and sometimes full url so i placed a condition to check if that contains full url or not if it contains then join domain string else dont.

[2020-07-18 04:51] SwapnilSoni1999 commented on #33
your'e welcome <3

[2020-07-18 04:51] #33 closed

[2020-07-23 19:32] Mahdios commented on #35
Any song or playlist with a smiley face (**: )** ) will do

[2020-07-24 10:43] SwapnilSoni1999 commented on #35
i have checked the `:` symbol gets sliced in a utility function
strange though

[2020-07-25 11:39] Mahdios commented on #35
hmmm, let me retry with a test playlist. I'll keep u updated.

[2020-07-25 16:28] Mahdios commented on #35
strange, seems to be working very well now

[2020-07-28 09:43] #35 closed

[2020-07-28 14:38] nagualcode opened #40 "m4a audio instead of mp3"
Is it possible to let the audio format in m4a?
m4a is the youtube native audio data, so there is no need to do a lossy converstion to mp3 (unless user can only play mp3 format).

[2020-07-30 22:22] prabaprakash opened #41 "Get rid of FFMG"
Hi, @SwapnilSoni1999 I have created scripts for saavn, pluralsight, hotstar etc  I don't know why need ffmg tools in the first place. will you get rid of it?

[2020-08-01 08:44] SwapnilSoni1999 commented on #41
I am using it for merging metadata and piping it with ytdl-core

[2020-08-01 08:47] SwapnilSoni1999 commented on #40
Well ytdl-core converts it to mp3 by default with bestaudio but still you can pass your own custom arguments though

[2020-08-01 08:48] #30 closed

[2020-08-02 15:38] nagualcode commented on #40
pass m4a argument is spotify-dl ? When file/line should I edit?

[2020-08-03 13:24] nagualcode commented on #40
ytdl-core prefers m4a, maybe spotify-dl could prefer it too?
https://github.com/fent/node-ytdl-core/blob/master/lib/util.js#L6

Anyway, thanks.

[2020-08-03 13:24] #40 closed

[2020-08-06 09:42] tatsumara opened #42 "Downloads super slow"
hi, i really love this and it's working great mostly, but the downloads are super slow.
is this a limitation on youtube's side?
EDIT: also what i've noticed, the download text flickers constantly.

[2020-08-17 08:07] suvmpr opened #43 "Getting error while downloading a playlist with "/" character."
[code]
**getting error , evrytime downloading a playlist with ''/"
please fix.**

[2020-08-27 08:25] SwapnilSoni1999 commented on #43
Will look for it thanks for informing

[2020-08-27 08:26] SwapnilSoni1999 commented on #42
Flickering is from ytdl-core side and isn't a critical issue though, also that slow download is also from ytdl side I belive

[2020-08-28 13:49] #41 closed

[2020-08-28 13:51] #43 closed

[2020-08-28 16:47] pedzz23 opened #44 "music downloaded very low quality"
music downloaded very low quality

[2020-08-29 10:37] Saniee opened #45 "Specifying where to download doesnt work after new update."
So there was the new update. I downloaded it and tried to download a song. I go to the folder i specified. Nothing. I check the folder where the npm module is installed and they are there. They also got a rather wierd name. I specified D:\Music, the song name would have DMusic infront of the file. Please ik that if I go to the D:\Music folder it will install there but im too lazy. Also sending a s

[2020-08-29 10:42] Saniee opened #46 "Tried to download a long album, it failed."
[Here is the error screenshot.](https://bit.ly/2QynOLZ)

`× Something went wrong!
TypeError: Cannot read property 'forEach' of undefined
    at C:\Users\Samuel Škula\AppData\Roaming\npm\node_modules\spotify-dl\lib\api.js:94:44
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async Spotifye.extrAlbum (C:\Users\Samuel Škula\AppData\Roaming\npm\node_modules\spotify-dl\ut

[2020-08-29 10:48] Saniee opened #47 "Album doesnt download to the album "folder"."
As you can see in [this screenshot](https://bit.ly/3bfcmPa) it says Saving Album: D:\Music\Ori and the Blind Forest (Original Soundtrack) - Microsoft Studios Music. But it is actually saving in the D:\Music folder, [here is the screenshot](https://bit.ly/3hRjC60).

[2020-09-17 14:17] nikhil-blip opened #49 "what path are the songs saved? help me"
Help me

[2020-09-18 11:44] SwapnilSoni1999 commented on #49
Path is written where the songs are saved. please carefully read what gets outputted on terminal.

[2020-09-18 11:44] #49 closed

[2020-09-18 11:45] SwapnilSoni1999 commented on #44
It downloads's from youtube which is already mentioned in README.md please read carefully.

[2020-09-18 11:45] #44 closed

[2020-09-18 11:46] SwapnilSoni1999 commented on #46
You can always continue with same command in same directory it will resume.
infact I wasn't aware why it throws error so I had to create a resume download feature.

[2020-09-18 11:49] nikhil-blip commented on #49
thanq ,but i got it already i have downloaded over 309 songs

[2020-09-23 18:56] Pawiczekk opened #50 "The "url" argument must be of type string. Received an instance of TypeError"
I was trying to download a playlist, but this song kept throwing this error, even when downloading it separately: https://open.spotify.com/track/4IxwUN8Q34OLznTomcg6LL
Using version 0.4.3 (for some reason it says that an update is available, but package.json in this repo has the same version, already tried reinstalling)
[code]
(replaced username with X)

[2020-09-23 19:15] Pawiiiiii opened #51 "Tried to download a song, the song is not on youtube and it downloaded the first result, which is a 4.5 hour compilation"
Tried to download https://open.spotify.com/track/5FAm2NCjU38DdARBhdwEzT
What was downloaded: https://www.youtube.com/watch?v=fbDwaUej4aE
I tried searching for the song on youtube, but I couldn't find it, so I guess that's why, but still, there should be a limit/confirmation for song length, maybe error if it's not found, since it was stuck at 0MB out of 0MB until it finished, and the result file i

[2020-09-24 08:17] SwapnilSoni1999 commented on #50
Sorry it was my mistake while pushing tags can you please check again by installing again
[code]

[2020-09-24 08:19] SwapnilSoni1999 commented on #51
It is downloading from youtube. So it might happen that sometimes song is not available on youtube so according to search results the wrong url is fetched and as a result some wrong song/music gets downloaded.

[2020-09-24 08:19] #42 closed

[2020-09-24 08:20] #31 closed

[2020-09-24 22:37] Pawiczekk commented on #50
Update notification is gone, but this song still throws the same error

[2020-09-25 13:10] SwapnilSoni1999 commented on #45
its fixed on pr #48

[2020-09-25 13:10] #45 closed

[2020-09-25 13:10] #46 closed

[2020-09-25 13:10] #47 closed

[2020-09-25 13:30] SwapnilSoni1999 commented on #50
please update to version `0.4.4` and check

[2020-09-25 14:19] Pawiczekk commented on #50
Fixed, thanks.

[2020-09-25 14:19] #50 closed

[2020-10-16 21:31] YV31 opened #52 "FFMPEG Invalid Argument"
Trying to download: https://open.spotify.com/album/4GGazqHvuKwxBjWLFaJkDL

Probably a issue on parsing spaces. Should be replaced with "\ ".

*Log:*
[code]
*Note: Replace \<path-to-sptifydl\> with the location were spotify-dl is cloned.*

[2020-10-17 17:34] user747 commented on #52
`z@x:~/Downloads$ spotifydl https://open.spotify.com/album/1fvWYcbjuycyHpzNPH1Vfk
ℹ Total Songs: 11
ℹ Saving Album: /home/z/Downloads/10,000 Days - RCA Records Label
ℹ 1. Song: Vicarious - TOOL
⠼ Downloading...events.js:291
      throw er; // Unhandled 'error' event
      ^

Error: ffmpeg exited with code 1: /home/z/Downloads/10,000 Days - RCA Records Label: Invalid argument

    at ChildProcess.<

[2020-10-28 18:29] stemy2 opened #54 "bash: spotifydl : command not found"
Hello,

I installed it from npm registery, but bash says the command doesn't exist. I don't get what did i do wrong.

[2020-11-08 06:35] Prizrak-X opened #55 "Error while Downloading"
While trying to download a playlist, this is popping up consistently. OS- Windows 10.

Downloading...Error: Input stream error: Error parsing info: Unable to retrieve video metadata
    at PassThrough.<anonymous> (C:\Users\prizrak\AppData\Roaming\npm\node_modules\spotify-dl\node_modules\fluent-ffmpeg\lib\processor.js:452:34)
    at PassThrough.emit (events.js:315:20)
    at runMicrotasks (<anonymo

[2020-11-08 11:33] WiktorG commented on #55
Can you test it on my forked repo? :)
[Here it is!](https://github.com/WiktorG/spotify-dl)

I tried to fix those errors and it seems to work. If it does for you could you leave a comment in pull request so that the author will have proof before merging? 😁

[Pull request](https://github.com/SwapnilSoni1999/spotify-dl/pull/53)

[2020-11-08 12:50] Prizrak-X commented on #55
@WiktorG   Downloading...Error: Input stream error: Could not find player config
    at PassThrough.<anonymous> (C:\spotify-dl\node_modules\fluent-ffmpeg\lib\processor.js:452:34)
    at PassThrough.emit (events.js:315:20)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)

The same issue, unfortunately :(

[2020-11-08 12:52] WiktorG commented on #55
@Prizrak-X could you link me the playlist you're trying to download? :D

[2020-11-08 12:57] Prizrak-X commented on #55
@WiktorG https://open.spotify.com/playlist/7kUtEP7LMjwmTNubP2RGOM

[2020-11-08 13:00] WiktorG commented on #55
I'll check it when I have more time :)

[2020-11-08 13:17] WiktorG commented on #55
@Prizrak-X one more question :D I see this has a lot of songs - is there any specific song that it stops on or it happens randomly

[2020-11-08 13:23] Prizrak-X commented on #55
@WiktorG random

[2020-11-21 06:04] Miles1701 opened #56 "Downloading Music Failed"
![Screenshot_20201121-140245](https://user-images.githubusercontent.com/71639017/99868988-63bfc100-2c02-11eb-8cef-1ea1f6fa0a45.png)

How do you fix this problem. I have already installed nodejs and ffmpeg

[2020-11-21 08:37] #56 closed

[2020-11-21 08:38] Miles1701 commented on #56
Solved the problem

[2020-11-21 10:52] Miles1701 opened #57 "Album Failing to download"
![Screenshot_20201121-185056](https://user-images.githubusercontent.com/71639017/99875429-a5646200-2c2a-11eb-85e8-9ceb66086745.png)

Every album I try it failed for unknown reasons.

[2020-11-22 13:11] SwapnilSoni1999 commented on #55
Please check on updated version
```npm install -g spotify-dl``` and report if any issue appears.
Close if issue solved.
Thanks.

[2020-11-22 13:13] SwapnilSoni1999 commented on #57
Please check on [latest](https://github.com/SwapnilSoni1999/spotify-dl/releases/latest) release.
If worked then please close issue.
Thanks.

[2020-11-22 13:13] #54 closed

[2020-11-22 13:14] SwapnilSoni1999 commented on #52
If you found the solution then please mention in replies.

[2020-11-22 13:14] stemy2 commented on #54
Why is it considered as invalid ?

[2020-11-27 09:04] KoryJCampbell commented on #55
i'm having the same issue, this isn't working for me either

[2020-11-28 00:02] RobinSchapendonk opened #58 "Input stream error: No such format found: highestaudio"
I get this error: `Input stream error: No such format found: highestaudio`

[2020-11-30 03:22] SwapnilSoni1999 commented on #58
Can you send the song link you're trying to download
Thanks

[2020-11-30 03:24] SwapnilSoni1999 commented on #55
@KoryJCampbell are you having ffmpeg installed and added to environment path ?

[2020-11-30 09:15] Mahdi-Elvis opened #60 "Couldn't find ffmpeg"
Hi. I'm using `spotifydl URL` within another PHP script with `shell_exec()` and it says couldn't find ffmpeg while it is installed.
thanks for your great program again.

[2020-12-03 21:59] akkim3 commented on #55
I have ffmpeg installed and I'm having the same issue on MacOS. This is surprising since the script had been working last week without any issues.

This is my error
`Downloading...Error: Input stream error: Error parsing info: Unable to retrieve video metadata
    at PassThrough.<anonymous> (/usr/local/lib/node_modules/spotify-dl/node_modules/fluent-ffmpeg/lib/processor.js:452:34)
    at PassThrou

[2020-12-04 05:22] RyanCccc commented on #55
Same issue here. Worked few days ago.
`
Downloading...Error: Error parsing info: Unable to retrieve video metadata
    at getWatchPage (/usr/local/lib/node_modules/spotify-dl/node_modules/ytdl-core/lib/info.js:75:13)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async exports.getBasicInfo (/usr/local/lib/node_modules/spotify-dl/no

[2020-12-04 07:47] Vardaan6189 opened #61 "Error: Input stream error: Error parsing info: Unable to retrieve video metadata"
Heyy THANKS FOR YOUR PROJECT !!!

But there is an error which i m facing

This is the link for the song i am trying to download https://open.spotify.com/track/1G3u6h9MfeoAZYVbPTptbD?si=-4OCuxBTTVKl0cyK3OUb6A

But i get this error

[code]

Hope you will look knto the natter as soon as possible 🙂

[2020-12-04 20:04] SwapnilSoni1999 commented on #54
install using
`sudo npm -g install spotify-dl`

[2020-12-05 14:23] techie2000 commented on #61
I have recreated this issue.
Install was done via npm. ffmpeg is installed. Running on Ubuntu 20.04

[2020-12-07 05:35] pascal48 commented on #61
I can also replicate, I have ffmpeg-4.3.1-11 installed.

Download source: https://open.spotify.com/track/2CZnuQBGvGryfY2hDAzH8x?si=fmgCVHDCS9KmmtjPZyzxzg

Output:

[code]
I'm running Fedora 33.

I would think this is just a me problem, but since more people seem to have the same problem maybe it's a real issue so i'll try to do my part.

[2020-12-07 05:46] pascal48 commented on #61
I can also replicate, I have ffmpeg-4.3.1-11 installed.

 Download source: https://open.spotify.com/track/2CZnuQBGvGryfY2hDAzH8x?si=fmgCVHDCS9KmmtjPZyzxzg

 Output:

[code]
  I'm running Fedora 33.

I would think this is just a me problem, but since more people seem to have the same problem maybe it's a real issue so i'll try to do my part.

[2020-12-11 18:30] mrbooshehri commented on #61
I also faced with this problem too
I'm runing ubuntu 20.04 LTS and ffmpeg 4.2.4

Saving Song to: /home/mhmd/Pier - Slo Loris.mp3
✔ Song: Pier - Slo Loris
⠴ Downloading...Error: Input stream error: Error parsing info: Unable to retrieve video metadata
    at PassThrough.<anonymous> (/home/mhmd/spotify-dl/node_modules/fluent-ffmpeg/lib/processor.js:452:34)
    at PassThrough.emit (events.js:198:13)

[2020-12-13 15:28] barbariandub commented on #61
Unfortunately, I am having the same issue.

[code]

[2020-12-13 19:24] Inf3xt commented on #61
Also having this issue

[code]

[2020-12-13 23:24] DavidGriffith commented on #61
Running Debian 10 with FFMPEG 10:4.1.6-dmo1+deb10u1 installed through APT.

[code]

[2020-12-14 19:15] SwapnilSoni1999 commented on #61
please checkout v0.4.7 and close the issue if solved.
Thanks

[2020-12-14 19:19] SwapnilSoni1999 commented on #60
you can export path `FFMPEG_PATH=/path/to/ffmpegbin/` and run script

[2020-12-14 19:19] #57 closed

[2020-12-14 19:31] mrbooshehri commented on #61
It properly works, thanks.

[2020-12-14 21:11] DavidGriffith opened #63 "Tag for v0.4.7 in the wrong place"
I just did a pull and a fresh pull just to make sure.  The tags `v0.4.6` and `v0.4.7` both point to the same commit.  The commit after that bumps the version to `v0.4.7`, so the `v0.4.7` should probably be set there too.

[2020-12-16 17:38] SwapnilSoni1999 commented on #63
yes i got messed up with tags but not to worry next version will fix tags issue

[2020-12-16 17:38] #61 closed

[2020-12-18 18:44] #63 closed

[2020-12-18 18:44] #52 closed

[2020-12-18 18:44] SwapnilSoni1999 commented on #58
fixed on latest release

[2020-12-18 18:44] #58 closed

[2020-12-18 18:45] SwapnilSoni1999 commented on #55
please check on latest release

[2020-12-19 03:02] Prizrak-X commented on #55
All issues have been fixed, I'm closing this issue. Thank you @SwapnilSoni1999

[2020-12-19 03:02] #55 closed

[2020-12-20 18:32] severien opened #64 "Invalid Argument error when downloading album"
When trying to download an album the application crashes with `Invalid Argument`

[code]

[2020-12-21 21:12] HAUDRAUFHAUN commented on #64
I have the same error

[2020-12-22 13:11] misterboe commented on #64
This could be fixed by remove Line 21 from lib/downloader.js

https://github.com/SwapnilSoni1999/spotify-dl/blob/1f3d8a15f3342d690c4290e1bcbb62d73909269b/lib/downloader.js#L21

[2020-12-22 13:51] misterboe commented on #64
It seems like there are problems with the album names. If you put the album in a playlist the download works for me

[2020-12-22 14:10] Impr0ve commented on #64
adding the album to the playlist works but is there a way that the track numbers also get into the metadata that would be cool also whats the proper way to update the ytdl-core

[2020-12-22 14:12] misterboe commented on #64
Thats the Link i tried btw.
`https://open.spotify.com/album/39QjW5XIE81HsWRjjyaVH0?si=A_8zL3BbQteQTQVlZM-Szw`

[2020-12-22 14:50] HAUDRAUFHAUN commented on #64
Yes, it also thought this could be the problem because with single tracks it works

[2020-12-22 17:46] severien commented on #64
The album metadata has the hashes of all the tracks. You could reuse the single track routine to download all the album tracks. Think its a matter of creating a folder with the album name and saving the tracks there.

[2020-12-24 14:10] burhanuday opened #65 "[enhancement] Use "lyric" in the search query for Youtube"
Searching Youtube for music will always land the official video as the top result
Official videos have blank audio for music videos which is not a part of the song itself
Searching for a lyric video instead will find a result which is not the official video

Example:
Billie Ellish - Therefore I Am lyrics

[2020-12-24 14:11] burhanuday commented on #65
Shouldnt be difficult to implement. Point me to the file where the song metadata is fetched, and I'll open a PR for it

[2020-12-24 14:47] burhanuday commented on #65
[code]
I made this change in `get-link.js` and it seems to have fixed this problem
Let me know if i should open a PR

[2020-12-30 12:05] mpenkov opened #66 "Cannot download podcast episode because of "invalid URL type""
The URL looks valid: https://open.spotify.com/episode/2RYuGMhdQCk6FFoFJzKUR1?si=cDKxUAcaT-evvR6jJuXuJQ but I get this when I try to download it:

[code]

[2020-12-30 12:08] mpenkov commented on #66
I had a peek at the source and tried to work around the problem by adding the episode to a playlist. Now I get a different error:

[code]

[2021-01-01 18:05] viewsourc3 commented on #66
I don't know if this will help, but I also have the same issue. (running OSX Catalina)

[code]

[2021-01-03 06:41] jishnuthewalker opened #67 "error while downloading on android"
java.io.FileNotFoundException: /data/data/
com.termux/files/home/downloads: open failed:
EISDIR (1s a directory)

I get this error when the file is being saved/ when it's asking me to select the folder.

I'm using a onePlus6t running Android 10
Installed using termux

I get this error when i share the link to termux

[2021-01-03 08:58] jishnuthewalker commented on #67
So i got it working by using the termux terminal and then additionally specifying the path. Is there any way to change the default download directory? That would be really helpful, thanks for this awesome software :)

[2021-01-07 13:00] ProxyPing opened #69 "Downloading not Working!"
https://upload.proxyping.de/putty_BRniKAhMeG.png

[2021-01-10 18:22] jishnuthewalker commented on #67
I hacked a script that let me bypass this, if anyone needs it you can check my page :)

[2021-01-10 18:22] #67 closed

[2021-01-10 22:07] SwapnilSoni1999 commented on #66
Sorry but podcasts download is not possible with this tool

[2021-01-10 22:07] #66 closed

[2021-01-10 22:09] SwapnilSoni1999 commented on #65
Will add some extra arg for adding custom keywords eg. `spotifydl <url> --extra-search "lyric"`

[2021-01-10 22:10] SwapnilSoni1999 commented on #64
Can you please check if it works with latest version?

[2021-01-11 06:31] HAUDRAUFHAUN commented on #64
I updatet to the lastest version (`npm i -g spotify-dl@latest`) but then I got this error:
[code]

[2021-01-15 22:41] miraclx commented on #69
Check out freyr-js...https://github.com/miraclx/freyr-js

[2021-01-15 22:46] miraclx opened #70 "[freyr-js]: Alternative supporting multiple services, many features and customization options"
Nice work on this; I've been working on something similar for the past year now

**freyr-js** https://github.com/miraclx/freyr-js
- supports multiple streaming services (Spotify, Apple Music, Deezer, and more to come)
- automatically embeds album art and song metadata
- exports M4A audio supported in iTunes
- has a myriad of options for customizing the experience (Alternate sources, preferred bitr

[2021-01-21 10:06] capriciousduck commented on #69
@ProxyPing Did you intsall ffmpeg?

[2021-01-21 11:09] SwapnilSoni1999 commented on #70
Nice work but I dont think so this topic suited for an 'ISSUE'

[2021-01-21 11:09] #70 closed

[2021-01-21 11:13] miraclx commented on #70
Yeah, sorry, I couldn't find a better place to put it.

Would an alternatives section in the README do?

I could add one in freyr too

[2021-01-22 01:23] miraclx commented on #51
I'd recommend you implement some sort of result classifier that would filter through results, excluding bad matches and download the best option (if any).

[freyr-js] does this [See [here](https://github.com/miraclx/freyr-js/blob/9c11c60898f18d8405124b8ee27a8dac05a30624/src/services/youtube.js#L404-L465) for reference]

Or better still, search YouTube Music instead, then most of the result classif

[2021-01-22 01:25] miraclx commented on #51
If you're going with the second option, because there isn't any official API for YouTube Music, you'd have to scrape the website for data.

[freyr-js] does this [here](https://github.com/miraclx/freyr-js/blob/9c11c60898f18d8405124b8ee27a8dac05a30624/src/services/youtube.js#L106-L261)

[freyr-js]: https://github.com/miraclx/freyr-js

[2021-01-22 01:36] miraclx commented on #65
You might be able to get higher audio quality by classifying results from several queries (As suggested [here](https://github.com/SwapnilSoni1999/spotify-dl/issues/51#issuecomment-765050026))

[freyr-js] uses 4 by default when searching YouTube [ref](https://github.com/miraclx/freyr-js/blob/9c11c60898f18d8405124b8ee27a8dac05a30624/src/services/youtube.js#L417-L422)

- `- Official Audio`
- `- Audio

[2021-01-22 12:31] ProxyPing commented on #69
@capriciousduck yeah..

[2021-01-22 14:29] capriciousduck commented on #69
@ProxyPing Going through the other issues, I've come to know that the script has problems downloading the songs from an "album", though it worked fine with playlists. One quick workaround is to add the album to a playlist and fetch it.

[2021-01-26 06:33] theofficialgrand1 opened #71 "Is this the same???"
https://github.com/pavanjadhaw/spotifydl

[2021-01-26 06:36] theofficialgrand1 opened #72 "Spotifydl doesnt work!"
For example when I input this command:
spotifydl https://open.spotify.com/track/16j29x0j2fDzuYBRwpTnla?si=W_F1ByeXQTmgwCV5ZkbL7Q

It comes back with:
zsh: no matches found: https://open.spotify.com/track/16j29x0j2fDzuYBRwpTnla?si=W_F1ByeXQTmgwCV5ZkbL7Q
Im using MacOS
Pls help thanks! Appreciate this project!

[2021-01-26 06:38] #71 closed

[2021-01-26 08:04] SwapnilSoni1999 commented on #72
install using `sudo npm install -g spotify-dl@latest`

[2021-01-26 08:05] SwapnilSoni1999 commented on #69
working on same thing, same issue was mentioned on #64

[2021-01-26 08:06] SwapnilSoni1999 commented on #64
I found out that album generation output was misplaced in an argument! I'm working on it.

[2021-01-26 08:07] #64 closed

[2021-01-26 08:08] #69 closed

[2021-01-27 04:47] SnwMds opened #73 "Can't download album"
Command:

[code]

Output:

[code]

[2021-01-27 05:08] SnwMds commented on #72
Question marks are interpreted as a pattern in zsh shell.

Put your link inside quotes or escape the `?`:

[code]

or

[code]

[2021-01-27 05:33] theofficialgrand1 commented on #72
Thanks! You guys are great help!

[2021-01-27 05:41] #72 closed

[2021-01-27 07:52] SwapnilSoni1999 commented on #73
Thanks for letting know I'll fix this asap.

[2021-01-27 07:53] #73 closed

[2021-01-30 15:42] #65 closed

[2021-01-30 15:44] SwapnilSoni1999 commented on #65
Added feature in [v0.5.0](https://github.com/SwapnilSoni1999/spotify-dl/releases/tag/0.5.0)

[2021-02-05 03:12] theofficialgrand1 opened #75 "Download Problem"
So during downloading a playlist, songs seem to disappear from the folder. For example I have 200 songs in one playlist, although the command line says everything is full downloaded, my folder info only shows 92 items. Why is this so, is this a bug? Hope you can address the issue.

This is the playlist that doesn't work (https://open.spotify.com/playlist/6J08oqfmAdKRrRlkIMR5LK?si=yjU4g-uUTcWKypvQ1

[2021-02-05 15:22] L0SER8228 opened #76 "Discord.js support need"
I want to use this on discord bot made with javascript and discord.js. But i can't find any way to do that . How can I do that ?
Please help me

[2021-02-22 21:00] chiumax commented on #76
I don't think bots can attach files to messages. You would need something like a user account and interact with Discord's API from there. However, it's against Discord's TOS.

[2021-02-22 22:38] chiumax commented on #75
It seems that spotify dl limits play list lengths to 100

[2021-02-23 03:24] rayand652 opened #78 "Docker image"
Termux was not able to understand the command
$ docker build -t spotify-dl
It shows this when I give this command:
No command docker found, did you mean:
 Command over in package enscript from the unstable-repo repository
 Command logger in package inetutils
 Command doc.url in package netpbm
 Command folder in package nmh from the unstable-repo repository
 Command racket in package racket from th

[2021-02-23 17:06] #78 closed

[2021-03-02 04:29] SwapnilSoni1999 commented on #75
Well actually not it checks total length and loops through all of them

[2021-03-02 07:12] theofficialgrand1 commented on #75
What do you mean by that so it looks through the songs but doesn't download all?

[2021-03-02 07:14] theofficialgrand1 commented on #51
Dude next time watch your terminal as it tells you how big the song file is.

[2021-03-02 09:38] SwapnilSoni1999 commented on #75
it does. it downloads all of them

[2021-03-02 09:41] SwapnilSoni1999 commented on #76
Sorry if that's against discord's TOS then I can't help with that

[2021-03-02 09:41] #76 closed

[2021-03-21 06:57] HenriHawk42 commented on #75
Can you elaborate? I only saw about 101 songs in the music directory I set, after attempting to download a 600ish library. Is there any fix for this?

[2021-03-26 15:06] burhanuday opened #80 "[feature] download a song using YT link directly from CLI"
This sounds like its outside the scope of this package but hear me out.
We already have all the necessary stuff to be able to do this and i found a song not on spotify but available on YT
I could download and use yt-dl separately but having this option here feels convenient

[2021-03-30 17:19] SwapnilSoni1999 commented on #80
well we have [youtube-dl](yt-dl.org) for that though.
But still I'll try to add `--yt` option to pass youtube links
Setting this as a low priority issue

[2021-04-07 04:58] stuart-little opened #81 "not possible to download episodes (as opposed to tracks)?"
I am trying this:

[code]
The result:
[code]
Downloading from `https://open.spotify.com/track/<blah>` URLs works fine.

[2021-04-07 12:31] stuart-little commented on #81
Actually, I don't think this will help me anyway..

I think it should be possible to extract info from an `/episode/` URL by supplementing your [api.js](https://github.com/SwapnilSoni1999/spotify-dl/blob/8852fd0be4e78822003168bac0f37aecfd7748e3/lib/api.js) with a `getEpisode` function using the [relevant Spotify api](https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-an-ep

[2021-04-11 12:19] SwapnilSoni1999 commented on #81
Yes exactly @stuart-little Youtube will have different content based on the episode title from spotify. So it will be useless to implement downloading episodes feature.

[2021-04-11 12:19] #81 closed

[2021-04-12 23:56] phyzical opened #82 "Second pull of a spotify playlist returns undefined/ error code"
Environment

docker (debian)

master up-to-date

Install Source:
npm/ dockerfile in source

Expected Behavior

i can re run spotifiy downloader for the same url over and over and get a success exit code in command line
Actual Behavior

actual behavior
it returns "undefined" and throws a SIGTERM or ERR
Steps to Reproduce

[code]
above is the bash script, first run will download and return a valid e

[2021-05-01 14:01] phyzical opened #83 "add support for get all albums for an artist"
i have been playing with this along with a fix for my last issue aswell as some drying up of the code 👍

[2021-05-03 11:24] NathanielJS1541 opened #85 "Error writing metadata after downloading a song"
I installed spotify-dl on termux using the setup script and it worked for a while, but recently I have been getting the same error about writing metadata, which means I can't download more than one song at a time as it throws this error after every song:
[code]

[2021-05-04 17:36] mevsme opened #86 "WARNING: ytdl-core is out of date! Update with "npm install ytdl-core@latest""
Where should I call this? I tried many folders: `c:\program files\nodejs`,  `%AppData%\npm\node_modules`, as global command

It throws warnings and errors and then still show message that ytdl is out of date. How do I fix this?

[2021-05-04 17:38] mevsme opened #87 "If the song is deleted (no artis and title in the playlis, just empty entry) the script will abort downloading of a playlist"
![image](https://user-images.githubusercontent.com/1394030/117045877-b3a9c480-ad18-11eb-84e8-27be6cd8f6fe.png)
Here is an example

[2021-05-04 17:41] mevsme opened #88 "spotifydl can not handle a bat file with list of downloads"
![image](https://user-images.githubusercontent.com/1394030/117046160-03888b80-ad19-11eb-8c05-6344b446b4c2.png)

This kind of list would work with youtube-dl and ffmpeg but somehow doesn't work with spotify-dl 😞

[2021-05-06 13:30] phyzical commented on #88
bit more information might help :)

for example is there any errors?

[2021-05-06 13:32] phyzical commented on #86
that is just a warning but will still work fine, im sure this package will be updated at some point by the maintainer

imo this is closable

[2021-05-06 13:46] phyzical commented on #87
could  you please link a (preferably) smallish playlist/album/song link to help replicate this

[2021-05-06 13:48] phyzical commented on #85
just for replicating this could you please link the link that is throwing this?

[2021-05-06 13:49] phyzical commented on #83
ive also decided to update the cache system instead of saving a number, it will now save the id of the song that is downloaded on each line

[2021-05-06 13:59] phyzical commented on #80
This would be fairly simple to implement,
i dont think it will even need a --yt tag rather we just make another case to the cli for when it contains youtube to just skip all spotify parsing ill lump it in my my pr 👍

[2021-05-06 15:43] NathanielJS1541 commented on #85
Closing this issue as I can't reproduce it anymore, I had tried everything I could think of and even tried reinstalling spotify-dl. However it seems to be fine now.

[2021-05-06 15:43] #85 closed

[2021-05-06 15:46] phyzical commented on #51
i will see if i can solve this as part of my refactor pr, i ran into this when it tried to dl a 1.4gb file by default, "just sitting there and watching" isnt really an option when you have a cron that auto runs downloads to get more songs automatically

[2021-05-07 01:25] phyzical commented on #75
@battlezone do you mind trying my pr? https://github.com/SwapnilSoni1999/spotify-dl/pull/84 i have made a bunch of refactors and i am wondering if i have fixed this

[2021-05-07 05:19] SwapnilSoni1999 commented on #83
Great help man <3 thankyou

[2021-05-07 11:34] phyzical commented on #75
nvm i can confirm this is till a bug... still looking into it

[2021-05-08 14:35] phyzical commented on #75
this is now fixed on  https://github.com/SwapnilSoni1999/spotify-dl/pull/84 feel free to try it out before its merged to help confirm it has been fixed 👍

[2021-05-10 00:42] phyzical opened #90 "Add support for providing users login details"
This will allow support for things like "download all saved songs" or "downlaod all saved albums" or "download all saved playlists"

i will start this when my current pr is merged

[2021-05-10 00:42] phyzical opened #91 "Add support for downloading all saved songs"
To do this we will need to add support to provide user credentials #90 first

[2021-05-10 00:42] phyzical opened #92 "Add support for downloading saved albums"
To do this we will need to add support to provide user credentials #90 first

[2021-05-10 00:43] phyzical opened #93 "Add support for downloading all saved playlists"
To do this we will need to add support to provide user credentials #90 first

[2021-05-10 23:24] phyzical opened #95 "Add support for custom cache file location"
This will work similar to how youtube-dl works in regards to cache file.

each cli usage allows one custom cache filename to be provided

[2021-05-11 14:53] miyukowo opened #96 "Error while trying to download song/album"
Hello, I was trying to download some songs when suddenly, this error showed up
![image](https://user-images.githubusercontent.com/40559090/117833587-a785b000-b2a0-11eb-9908-f6d972e6aed3.png)

In order to counteract this, I tried creating another folder with the same name and restart the download. But it happened again, this time it's a metadata error.
![image](https://user-images.githubusercontent

[2021-05-14 16:42] #80 closed

[2021-05-14 16:42] #82 closed

[2021-05-14 16:42] #83 closed

[2021-05-14 16:42] #86 closed

[2021-05-14 16:42] #51 closed

[2021-05-14 16:42] #75 closed

[2021-05-14 17:25] SwapnilSoni1999 commented on #96
Can you please try from the latest version and update :)
thanks

[2021-05-14 17:26] SwapnilSoni1999 commented on #95
Closing. Merged in #84

[2021-05-14 17:26] #95 closed

[2021-05-14 17:27] SwapnilSoni1999 commented on #90
Alright <3 Seems exciting :) thank you so much for your contribution.

[2021-05-15 09:43] phyzical commented on #96
hmm i wonder if this could be a windows issue? i.e the folder name contains a `.`

But as @SwapnilSoni1999 suggested if the issue still persists

could you please post the exact url to avoid copying incorrectly from the picture 👍 and we will try to replicate

[2021-05-15 12:11] miyukowo commented on #96
Hey @SwapnilSoni1999 & @phyzical,
I updated to the latest version and tried, but unfortunately, the results are the same.
![image](https://user-images.githubusercontent.com/40559090/118360144-92669500-b5b0-11eb-8ad8-6baf3037acc9.png)
And while surfing through GitHub, I found out that someone was having the same problem when trying to download songs from this artist and it might have something to d

[2021-05-16 10:52] SwapnilSoni1999 commented on #96
Well I dont see any issues with linux though. Can you please upgrade your ffmpeg bin to latest version and try it?

[2021-05-16 23:56] phyzical commented on #90
This isnt as simple as i first thought ;( due to user and pass not being an accepted auth process for 3rd parties these days (which makes sense).

But i think i may have an idea run a simple webserver to have the spotify api redirect back to with the user signed token.

Now i think.. this will work but it means this will only work in TTY environments so doesn't solve i.e docker usage...

ill keep

[2021-05-17 15:20] SwapnilSoni1999 commented on #90
Well my token is public then I guess we should not do this because it may expose some information to others. Maybe I'm wrong I haven't researched much on the API

[2021-05-18 07:08] phyzical commented on #90
there was an approach that worked by only using the client ID and not the secret. but webservers alone cannot pipe in a # segment which is how the token is returned from spotify in this approach ;( (ill give it a few more tries)

i was able to generate a user signed token with the webserver approach still playing around with it.

So i understand your concern What information are you worried about?

[2021-05-18 20:25] raprocks commented on #88
As a Workaround you can make a playlist of those songs, make it public and then download it

[2021-05-19 09:42] phyzical opened #99 "Add Test suite"
we probably should do this will remove some need to manually test peoples code

Would also look at triggering this in github action on a specific command/ condition to reduce free minutes usage

[2021-05-19 14:09] chiumax opened #100 "bug: download breaks on song with unconventional characters"
**To Reproduce**
Steps to reproduce the behavior:
1. `spotifydl https://open.spotify.com/track/5XTePlyEtcOY5oRdJHNagB?si=89ba1218bdd94865`

**error logs**
[code]

[2021-05-20 11:00] godspeed-x opened #101 "Feature request"
Hello, thank you for making this.
1. Maybe a way to save the output directory so that there is no need to mention it everytime.
2. A flag that disables making a folder for a download.

[2021-05-22 16:43] SwapnilSoni1999 commented on #90
I mean if someone could be able to access other user's data which are authorized with our clientid and secret (or the developer app)

[2021-05-25 14:11] phyzical commented on #100
this should be fixed by https://github.com/SwapnilSoni1999/spotify-dl/pull/98

[2021-05-25 14:14] phyzical commented on #101
hey there, just for clarification what your requesting.

1. your after some sort of config you could set as the default to avoid providing -o each time correct?
2. A new flag that would enforce all songs are simply dumped directly into the output folder instead of abums, artists, playlist ect?

i think i can squeeze these into the current feature im working on

[2021-05-25 14:32] phyzical commented on #90
hmm i dont think this will be an issue, like if someone does use the id and secret they would still need to pipe the user to spotify and ask for their consent (which requires a login) before being able to do anything with their data. though i may be overlooking something

[2021-05-25 15:30] godspeed-x commented on #101
Yes, that's correct.
Thank you

[2021-05-26 07:59] #96 closed

[2021-05-27 18:00] Gianni-Ingurgio opened #103 "Feature request: SponsorBlock"
It would be nice to be able to use the [AponsorBlock API or database](https://sponsor.ajay.app/) to skip non-music segments and avoid having to manually trim music videos. For reference, I also found [SponSkrub](https://github.com/faissaloo/SponSkrub),  which could be useful.

[2021-06-01 00:26] phyzical commented on #103
hmm interesting, there is also https://www.npmjs.com/package/sponsorblock-api.

Looks like sponscrub is fully cli and not nodeable

i would be interested at implementing this the only thing thats making me a bit hesitant is it looks like there is only 1.5 million reported videos so id wager a guess the odds of the found video being one of these to be fairly low id assume youtube has billions

But

[2021-06-01 13:18] SwapnilSoni1999 commented on #100
Please update to latest version and inform

[2021-06-01 13:27] SwapnilSoni1999 commented on #99
well i dont get it can you please elaborate

[2021-06-01 23:43] phyzical commented on #99
so, we write a test suite to test each parts of the code.

It is then triggered on pr commits to verify the PR does not break anything, this allows for further confidence in the code being committed is correct to both the reviewer and submitter

[2021-06-05 15:53] phyzical commented on #103
Well i tried a few random videos ranging in view counts and they all seemed to reflect the sponsor blocks, so i think this will be worth it

[2021-06-06 09:14] godspeed-x commented on #101
@phyzical sorry for the late reply; i just tried it and it works perfectly.

[2021-06-07 10:59] phyzical commented on #103
This should now be support by pr https://github.com/SwapnilSoni1999/spotify-dl/pull/102

@Gianni-Ingurgio feel free to give it a try and let me know if it works as you would expect 👍

[2021-06-11 09:26] thaynos opened #104 "searching type error"
[code]

[2021-06-16 08:41] phyzical commented on #104
hey @thaynos do you mind trying my branch? https://github.com/SwapnilSoni1999/spotify-dl/pull/102 and see if this issue is resolved

[2021-06-17 05:57] thaynos commented on #104
how do i try it? and how do i allow that link in spotify dev?

[2021-06-17 09:15] phyzical commented on #104
sure,

for a unix system it would be
[code]

[2021-06-17 10:33] #90 closed

[2021-06-17 10:33] #91 closed

[2021-06-17 10:33] #92 closed

[2021-06-17 10:33] #93 closed

[2021-06-17 10:33] #101 closed

[2021-06-17 10:33] #103 closed

[2021-06-17 11:26] phyzical commented on #104
infact pr was just merged so please try the latest once a new version is pushed and see if the problem persists

[2021-06-18 14:12] thaynos commented on #104
ok thx

On Thu, Jun 17, 2021 at 3:26 PM Jack ***@***.***> wrote:

[2021-06-19 11:08] SwapnilSoni1999 commented on #99
Yeah good idea

[2021-06-21 11:32] phyzical opened #105 "Dockerfile fails to build"
Hey there and thank you for using Issue Tracker!

## Checklist

- [x] Is this something you can **debug and fix**? create an accompanying pull request aswell! Bug fixes and documentation fixes are welcome.

## Bug Report
### Reproduction Steps
follow readme for docker
### Version
latest
### Platform
mac
### Expected Behavior
dockerfile doesnt build
### Actual Behavior
dockerfile should build

[2021-06-23 03:39] theofficialgrand1 opened #107 "Could you make Instructions on how to use the option flags."
Whenever I use the option flags the command line will come back with
See spotifydl --help for instructions
I don't know wether my flags have been done or not. I don't know how to type the flags. For my username and password do I put them in Quotes or what? For saving the outputOnly it doesn't work.

[2021-06-23 14:14] phyzical commented on #107
Could you please use the issue template next time as if you did we would have all the information to understand what exactly you are doing?

whats the exact command you are running?

 what are you expecting to happen that isn't happening?

 if i try to use the output only flag it is set to true

[code]
[code]
[code]

[2021-06-23 14:18] phyzical commented on #107
as for using the flags did you run --help?

[2021-06-24 08:22] phyzical opened #108 "Add Stalebot"
Hey there and thank you for using Issue Tracker!

## Checklist

- [x] Have a usage question? Review the readme first [Readme](./README.md). Search the issue and pull request history to see if someone else has had/having a similar issue to avoid duplicates

## Feature Request
### Proposal
Lets integrate stable bot https://github.com/apps/stale
### Motivation
so that we can autoclose tickets that do

[2021-06-24 08:23] phyzical commented on #108
@SwapnilSoni1999 what do you think?

[2021-06-25 08:14] satyammayy opened #109 "Error ! in downloading 404 code !"

[2021-06-25 08:19] satyammayy commented on #109
Input stream error: Status code: 404

[2021-06-27 06:32] phyzical commented on #109
this was an issue with yt-dlcore (see https://github.com/fent/node-ytdl-core/pull/938) itself #106 has an updated package lock to fix the issue

[2021-06-28 15:50] SwapnilSoni1999 commented on #108
Good idea :)

[2021-06-28 15:51] SwapnilSoni1999 commented on #108
Also, I'm sorry for being late having really hard times nowdays

[2021-06-28 15:52] #105 closed

[2021-06-29 08:43] #107 closed

[2021-06-29 08:44] theofficialgrand1 opened #110 "Spotifydl no longer makes 1 folder for that playlist"
When downloading Spotify playlist, Spotifydl places the music in multiple different folders sorted by the artist.

[2021-06-30 11:53] phyzical commented on #110
This is correct behavior at this time, this was done to reduce duplicate downloads i.e downloading music from multiple playlists

if you would like the original functionality simply provide `spotifydl --oo -o "./playlist-name" "spotify-playlist-url"`

[2021-07-01 10:10] phyzical commented on #108
@SwapnilSoni1999 no biggie, hope all is well

[2021-07-05 04:16] SwapnilSoni1999 commented on #108
I've added stale bot to my profile. We can now proceed with `stale.yml`

[2021-07-05 04:16] #108 closed

[2021-07-05 04:20] SwapnilSoni1999 commented on #100
I've tested with the provided link and it works well with linux. No errors found. So closing the issue.

[2021-07-05 04:20] #100 closed

[2021-07-05 04:21] SwapnilSoni1999 commented on #109
Hopefully the issue is fixed. Please let me know @satyammayy

[2021-07-05 10:49] tejaschauhan373 opened #112 "Can't download podcast"
It gives error as below while downloading podcast

![image](https://user-images.githubusercontent.com/59693377/124460054-81662300-ddac-11eb-806a-e1f7767f9e71.png)

[2021-07-05 13:53] phyzical commented on #112
Hey there @tejaschauhan373  next time please use the template provided :)

Atm the episode urls type are not supported,
but we can look at adding them at some point in the near future

[2021-07-05 16:49] tejaschauhan373 commented on #112
sure & thanks for reply, can you add separate label like question, feature suggestion & bug report for issue !

[2021-07-06 01:14] phyzical commented on #112
good idea!

cc @SwapnilSoni1999

[2021-07-06 07:25] SwapnilSoni1999 commented on #112
Added issue templates :)

[2021-07-06 10:23] tejaschauhan373 commented on #112
Also, you can make discord server to prevent creation of unnecessary issues for questions

[2021-07-07 11:21] SwapnilSoni1999 commented on #112
I dont use discord much though but still issues and PRs wont be any issues for me :) feel free to ask or make any issue if you want to

[2021-07-07 17:13] lodembeep opened #114 "TypeError [ERR_INVALID_ARG_TYPE]: The "url" argument must be of type string. Received undefined"
**Describe the bug**
Once a specific song is downloaded, it just throws a type error. The song in question doesn't have any metadata.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new folder
2. get into it
3. run : spotifydl -o LND https://open.spotify.com/playlist/0aJyer4nHU7lPMHIJR5dTY

**Expected behavior**
Should download the full playlist.

**Screenshots**
not required

**Des

[2021-07-07 17:28] lodembeep commented on #114
I suggest to add a way to keep downloading the tracks with a downloading report showing the songs it didn't download

[2021-07-08 15:55] phyzical commented on #114
hey @lodembeep, thanks for the issue report

i think that would be a good idea to report on the songs that fail,
I was thinking we could save a timestamped file with a list of rows containing "SPOTIFY_ID - ITEM_NAME - ITEM_LIST"
what do you think @lodembeep

as for stopping a download when no metadata, i would say that's a regression i've caused in the last few pushes of changes.
I agree if metada

[2021-07-09 14:48] phyzical commented on #112
@tejaschauhan373 i should have implemented this login in #115  pr if you wanted to give it a try, otherwise it should make it in a future version soon

[2021-07-10 11:43] lodembeep commented on #114
Thank you @phyzical !
About the reporting, i am not sure whether it is relevant or not, as some of the songs might not even exist in youtube or other sources, the decision is yours.

I tried with your fork, still doesn't want to download it, same issue and error. i will wait for the PR to be merged and try again on a clean install.

[2021-07-11 08:59] phyzical commented on #114
@lodembeep a download report is now posted at the end of all requested urls, which will post any failures
![image](https://user-images.githubusercontent.com/5182053/125189185-65112d00-e269-11eb-9589-b64cfa865d5c.png)

[2021-07-11 23:57] koizumihoshino opened #117 "Sometimes it downloads the YouTube version of the song"
**Describe the bug**
I try to download an album that has a short version released on YouTube but Spotify has the full version.

**To Reproduce**
Run
`spotifydl https://open.spotify.com/album/6yKMo95JkibE9tGN81dgFh?si=-Vh4RAjzTfa3kJNYIW7Tdg&utm_source=copy-link&dl_branch=1`
2. play it

**Expected behavior**
SpotifyDL should download the Spotify version since there are only short versions or the one

[2021-07-11 23:57] koizumihoshino commented on #117
I will try to replicate this issue on the PC later since I just woke up.

[2021-07-12 00:36] koizumihoshino opened #118 "Missing Artist Metadata"
**Describe the bug**
When a song has multiple artists, SpotifyDL only puts the first mentioned artist.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `spotifydl https://open.spotify.com/track/5O3zXdlwLUhMzYtJMQJEZ3?si=NanTyb14R0atEqq9CRTo9w&utm_source=copy-link&dl_branch=1`
2. See song metadata

**Expected behavior**
The song should have mentioned all the artists in the song.

**Screens

[2021-07-12 03:15] koizumihoshino opened #119 "Album art has blank parts on it"
**Describe the bug**
I don't really know if it's only my side but when I download a song, sometimes the album art glitches therefore having a blank area on it. It doesn't always happen but sometimes it does.

**To Reproduce**
Steps to reproduce the behavior:
1. Download any song
2. Look at the album art

**Expected behavior**
Perfect album art

**Screenshots**
"Dead Beats" perfect album art
The re

[2021-07-12 06:38] koizumihoshino commented on #119
I downloaded it again on PC, turns out I had a network issue. Sorry for the misunderstanding.

[2021-07-12 06:38] #119 closed

[2021-07-12 06:50] koizumihoshino opened #120 "SpotifyDL deletes existing songs on Windows but in Android it doesn't."
**Describe the bug**
When I tried SpotifyDL on my PC, it restarted the download so I was confused why, I saw my past downloads gone and blank. Then I look at the terminal again and it was downloading from the beginning.

**To Reproduce**
Steps to reproduce the behavior:

On Android
1. Open Termux
2. CD to somewhere (I did `cd storage/shared/Spotify`)
3. Download a random song/album/playlist on Ter

[2021-07-12 06:54] koizumihoshino opened #121 "Automatically replace corrupted mp3 file when redownloading"
**Is your feature request related to a problem? Please describe.**
I had corrupted files, and I had to delete them to redownload since SpotifyDL located an mp3 file on the said corrupted song

**Describe the solution you'd like**
SpotifyDL automatically deletes and redownload the corrupted mp3 files.
_probably by checking the existing mp3 file if its bigger than 1mb_

**Describe alternatives you'v

[2021-07-14 17:38] Minehors opened #122 "error code 1"
[npm-debug.log](https://github.com/SwapnilSoni1999/spotify-dl/files/6817967/npm-debug.log)
**Describe the bug**
ive included the npm-debug file in this post

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, a

[2021-07-20 07:54] yonahforst opened #123 "use as node library"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use this library programmatically, from within node.

**Describe the solution you'd like**
I should be able to call `spotify-dl` from within node, passing it the same options that the CLI accepts. It should return a promise which completes once the download is complete

**Describe alternatives you've consider

[2021-07-21 12:03] phyzical commented on #122
hey there @Minehors do you mind trying the following command? `npm install -g spotify-dl --unsafe-perm`

[2021-07-21 12:06] phyzical commented on #121
@koizumihoshino hey there thanks for the request, just so i understand the request better do you happen to have any more information on what makes a file "corrupted"?

[2021-07-21 12:14] phyzical commented on #120
@koizumihoshino hey there, is it possible that you have different versions running on the android vs windows devices?

after it downloaded on windows did you end up with duplicates in the cache file?

one test we could try is to be explicit about the cache file with `--cf /PATH/TO/FILE.txt` on both devices and see if it makes any difference?

[2021-07-21 12:30] koizumihoshino commented on #121
well, when I was still using this (not anymore since my PC is kinda broken ATM), sometimes the album art is broken, and sometimes the song only lasts for a few seconds, after redownloading it's all good so I kind of want that it doesn't get corrupted again.

[2021-07-21 12:31] koizumihoshino commented on #120
Oh i need to have the cache file? I thought spotifydl detects the songs that are already downloaded. I guess not.

[2021-07-21 13:57] phyzical commented on #118
hey there @koizumihoshino,

just for clarification its more about the metadata than the log you care about correct?

ive made a change in mt latest pr that will save all artists metadata as it did in the  past. but to be clear it will still output only the first artist in logs as its used for things like folders ect

[2021-07-21 14:00] phyzical commented on #117
this one is a hard one, as we do not download/ copy anything from spotify directly. we take the api information from spotify and search youtube and it just does a "best match" i.e `song - album` in youtube and downloads the first result.

my only suggestion would be to add the `additional search` param to try to make your spotify  -> youtube results more specific

[2021-07-21 14:04] phyzical commented on #120
what it does is it saves a reference to the spotify song id to the`.spdlcache` files, it reads these files to determine if a song needs redownloading or not rather than the filenames themselves.

[2021-07-21 18:09] koizumihoshino commented on #120
Ok, so my confusion is gone and I will make sure to copy the cache files too, thanks! (Please close this if needed since idk how to close on mobile.)

[2021-07-21 18:10] koizumihoshino commented on #117
Thank you! I will close this now.

[2021-07-21 18:10] #117 closed

[2021-07-21 18:11] #120 closed

[2021-07-22 20:31] rsuchwani opened #125 "Error: Promise Rejected with Value: 'http status: 429'"
I'm getting this error, no matter what I download (playlist, track, or album), it's always the same. Can someone please guide me to sort this issue?

$ sudo spotifydl "https://open.spotify.com/track/6RNDeRnWsRMjPdNVgupZCs?si=0fdbc024f2fb4043"
ℹ Generating new access token
ℹ Downloading: I Just Called To Say I Love You Stevie Wonder
ℹ Total Songs: 1
ℹ 1/1
Artist: Stevie Wonder
Album: At The Close O

[2021-07-24 07:54] godspeedfw opened #126 "force download"
**Describe the bug**
after downloading a song, if you delete it and try to download it again, it will say "All songs already downloaded.."

**To Reproduce**
Steps to reproduce the behavior:
1. Download a song
2. Delete it
3. Try downloading the same song again

**Expected behavior**
Download the song

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Version 1.0.2

**Ad

[2021-07-24 08:50] koizumihoshino commented on #126
Yeah there's a cache to it, here's how to fix it, just download that one song to a different location. Like, CD somewhere else.

[2021-07-24 11:55] godspeedfw commented on #126
I see. Okay. Btw, where is the cache stored?

[2021-07-25 08:30] mrut1688 opened #127 "i am userror 401 http st"
PS C:\Users\pbyas>  spotify-dl https://open.spotify.com/track/6zaxxZxxjUJ0I3AYkzp2WA
Expected id of type album but found type https spotify:album:https://open.spotify.com/track/6zaxxZxxjUJ0I3AYkzp2WA
HTTP Error for GET to https://api.spotify.com/v1/albums///open.spotify.com/track/6zaxxZxxjUJ0I3AYkzp2WA returned 401 due to No token provided
Traceback (most recent call last):
  File "C:\Users\pbyas\

[2021-07-25 08:30] mrut1688 commented on #127
its error i am getting while using it
can anyone help me out

[2021-07-25 12:48] phyzical commented on #126
by default it is stored in the folder in question .splcache

you can provide the --cf flag to override the default though

[2021-07-25 12:50] phyzical commented on #127
wrong repo?
this is a node based solution not a python :)

[2021-07-25 12:51] phyzical commented on #125
i started getting this also, i found that providing the cookies file similar to what is needed for youtube-dl fixed the issue

i will have a pr up later in the week to allow this functionality

[2021-07-26 04:31] godspeedfw commented on #126
thanks! that is exactly what i needed

[2021-07-26 04:31] #126 closed

[2021-07-31 10:37] #87 closed

[2021-07-31 10:37] #88 closed

[2021-08-01 07:59] wazowski389 commented on #60
![Screenshot_20210801-132849](https://user-images.githubusercontent.com/71447707/127763858-506b9cbd-c4e3-43a3-9b10-f15aae4130c5.jpg)
Please help. :(

[2021-08-01 08:06] wazowski389 opened #129 "Youtube error retrying downloand & cannot find ffmpeg"
![Screenshot_20210801-132849](https://user-images.githubusercontent.com/71447707/127763980-6f3fd79d-1cc1-44e7-953b-b9bc974a63aa.jpg)
 ((((( :::** Thanks for your help*::::)))))

[2021-08-01 08:26] wazowski389 commented on #129
Solved it. It works now. "Pkg install python ffmpeg" .

[2021-08-01 08:26] #129 closed

[2021-08-03 20:17] SwapnilSoni1999 commented on #127
Wrong repo

[2021-08-03 20:17] #127 closed

[2021-08-05 11:18] rayand652 opened #130 "I am noob don't know what to do please guide me"
![IMG_20210805_164456](https://user-images.githubusercontent.com/79494339/128341552-05fea156-10a7-4513-8b60-811761cefc83.jpg)

I am a noob please guide me

[2021-08-07 12:39] #112 closed

[2021-08-09 06:34] #114 closed

[2021-08-09 06:36] SwapnilSoni1999 commented on #60
Sorry for being late my health and mental health is not fine since weeks. Anyways have you installed ffmpeg using `pkg install ffmpeg` ?

[2021-08-16 18:41] ZarBoy68 opened #131 "No such file or directory"
Error: ffmpeg version 2021-08-14-git-acd079843b-full_build-www.gyan.dev Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 10.3.0 (Rev5, Built by MSYS2 project)
  configuration: --enable-gpl --enable-version3 --enable-static --disable-w32threads --disable-autodetect --enable-fontconfig --enable-iconv --enable-gnutls --enable-libxml2 --enable-gmp --enable-lzma --enable-libsnappy --enabl

[2021-08-17 08:10] #118 closed

[2021-08-17 08:10] #125 closed

[2021-08-18 00:41] phyzical commented on #131
hey just guessing based on the folder name are you sure this is the right repo? you might be after this one https://github.com/spotDL/spotify-downloader

[2021-08-18 00:42] phyzical commented on #131
@ZarBoy68 thanks for the issue, do you mind giving more information i.e the full command you ran so we cant try and replicate?

[2021-08-18 01:44] Xmetalfanx opened #132 "Error displaying when trying to download or check version being used"
**Describe the bug**
After installing via NPM or (after removing via NPM) the manual method, I see this
when i run any command ... including "spotifydl <link here>" ... I am just using the -v option below as the example but it's exactly the same message no matter what flag i use or actual spotify URL i use

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install spotifydl (either via

[2021-08-19 00:20] phyzical commented on #99
not yet bot

[2021-08-22 07:14] phyzical commented on #132
@Xmetalfanx thanks for the bug report, what version of npm and node are you using?

[2021-08-22 13:59] #110 closed

[2021-08-22 14:00] SwapnilSoni1999 commented on #130
can you please show output of `node --version` and `npm --version`

[2021-08-22 14:09] rayand652 commented on #130
![IMG_20210822_193800](https://user-images.githubusercontent.com/79494339/130358166-eb0de80d-e7be-48cd-96ae-819b467f10df.jpg)

[2021-08-22 22:24] TwistyDev commented on #132
I have the exact same issue on Manjaro (with the latest updates). Node v16.6.2 and npm v7.21.0. Don't know the version of spotifydl as it crashes, but I guess it is the latest from npm.
I am sure it is the spotifydl update that broke it, as it worked perfectly before I ran 'npm -g spotifydl' 2min ago.

[2021-08-23 03:27] Xmetalfanx commented on #132
node v16.6.2
npm 7.20.6

i admit i haven't updated in the last 2 days but as you can see someone else has a slightly more updated version of npm than i have atm

[2021-08-23 08:06] phyzical commented on #132
Thanks for all of that,

i was able to replicate it.

 i'm not sure why it wasn't happening locally.. but should hopefully be fixed with the next release.

[2021-08-24 10:00] SwapnilSoni1999 commented on #130
Can you please try to upgrade npm and node versions and uninstall spotify-dl and reinstall it?

[2021-08-24 16:27] #104 closed

[2021-08-28 17:31] #132 closed

[2021-08-28 17:46] rayand652 commented on #130
When I tried to build docker image it asked me to install git so I gave the command pkg install git and it showed me this
![IMG_20210828_231501](https://user-images.githubusercontent.com/79494339/131226445-72e79f9b-9f3b-4b28-81a9-9dd6a4631d7e.jpg)

[2021-08-28 18:02] rayand652 commented on #130
Sir can you please tell me what is the problem here and how can I resolve it
![IMG_20210828_233137](https://user-images.githubusercontent.com/79494339/131226817-cc53f3d3-1fb9-497f-9cc5-e0567c6220df.jpg)

[2021-08-29 05:28] SwapnilSoni1999 commented on #130
@phyzical can you please look into this? I'm on iOS right now

[2021-08-30 06:58] ShrayanshSharma6200 opened #134 "Not Downloading"
/data/data/com.termux/files/usr/lib/node_modules/spotify-dl/node_modules/meow/index.js:1
import {dirname} from 'node:path';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at wrapSafe (internal/modules/cjs/loader.js:877:16)
    at Module._compile (internal/modules/cjs/loader.js:928:27)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:994:10)
    at Module.

[2021-08-30 13:24] phyzical commented on #134
@SwapnilSoni1999 might bumping a new version i think this is a dupe of #132

[2021-08-30 13:27] phyzical commented on #130
@SwapnilSoni1999 i think this is a similar issue to #134 and #132 once we have bumped to a new version i think this should be fixed

[2021-09-01 16:17] yousef-0000 opened #135 "Unexpected token"
my problem
*******************************************************************************************************************************************
xenso@xenso-Lenovo-Z50-70:~$ spotifydl https://open.spotify.com/track/0HpoU9wzx6lhK1jIa6cVU3?si=3ca4ca255605449e
/home/xenso/spotify-dl/cli.js:17
import { startup } from './lib/setup.js';
       ^

SyntaxError: Unexpected token {
    at Module._comp

[2021-09-08 08:09] Xmetalfanx commented on #132
can COMFIRM this issue is now fixed for me on Manjaro

[2021-09-08 18:51] SwapnilSoni1999 commented on #132
Awesome <3

[2021-09-10 06:04] #109 closed

[2021-09-13 14:20] ArcerionDev opened #136 "Only file and data URLs are supported by the default ESM loader. Received protocol 'node:'"
Error -
![image](https://user-images.githubusercontent.com/60945964/133100548-b8700178-ca91-40f0-99f3-b72a791c24e9.png)

node v14.12.0
npm v6.14.8

[2021-09-14 18:29] micheeell commented on #135
Same error here:
npm version 7.23.0
node 10.19.0
operating system: mint 20.2 Cinnamon

[2021-09-18 13:36] bBSempai opened #137 "WHERE DOES THE DOWNLOAD SAVE AT?"
I downloaded something but i dont know where it got saved. WHERE DO ALL THE SONGS GET SAVED??

[2021-09-19 15:52] NANASHI0X74 opened #138 "podcast download gives a null access error"
**To Reproduce**

ran in tmux:
[code]

[2021-09-20 10:33] phyzical commented on #136
@ArcerionDev thanks for posting.

Could you please paste the exact link that fails incase its related but,

i just tried the latest on windows and tried a playlist and a song and all seems to work fine.

[2021-09-20 10:34] phyzical commented on #137
hey @bBSempai it should be relative to wherever its run from but you can overide it with the `-o` flag

[2021-09-20 11:39] phyzical commented on #138
Hey @NANASHI0X74 thanks for the bug report,

so i think when i originally built this i was testing with a spotify premium user, i didn't realise. but it looks like it works when you provide the user and pass (`-u` and `-p` flags)

![image](https://user-images.githubusercontent.com/5182053/133996089-4bd6d2de-6c31-4581-92e3-807ebfacea08.png)

I will look at fixing the error handling of that when som

[2021-09-20 12:01] NANASHI0X74 commented on #138
so you do need a spotify account to use this then, right?

[2021-09-20 12:03] phyzical commented on #138
@NANASHI0X74 no,  you should be fine to use it for anything you can see on a non premium account. give some songs/albums a try?

maybe shows/episodes are restricted to premium users im not quite sure..

[2021-09-20 14:06] SwapnilSoni1999 commented on #137
you can use `-o` flag to define an output folder. The similar issue is here #110

[2021-09-20 19:48] rayand652 commented on #130
So what should I do now?

[2021-09-20 19:49] rayand652 commented on #130
Is this issue fixed now?

[2021-09-20 21:28] jaredly commented on #138
to clarify: you do currently need an /account/, just not a premium account. On the web it looks like I can listen to podcast episodes without logging in at all, fwiw.

[2021-09-21 00:33] phyzical commented on #130
could you try updating to the latest and letting us know @rayand652

[2021-09-21 00:38] phyzical commented on #138
@jaredly thanks for that note, its so weird that the api seems to not behave the same as the web.

@NANASHI0X74 why not just create a free account?

[2021-09-21 01:27] jaredly commented on #138
@NANASHI0X74 is that web desktop? it's possible that mobile web is more pushy 🙄

[2021-09-21 07:54] NANASHI0X74 commented on #138
@jaredly I tried it on my phone, once normally and once forcing the desktop
version of the website.
I wonder if maybe it depends on which song/episode you want to have
actually?

Guess I'll create a throwaway account then 🤷‍♂️

On Tue, Sep 21, 2021, 3:27 AM Jared Forsyth ***@***.***>
wrote:

[2021-09-22 07:06] forscht opened #140 "Download source"
**Q:** Does it download songs from Spotify or YouTube? I'm looking for best quality possible. Can we also update README so others don't get confused? Or once I will get answer I will open PR.

[2021-09-23 04:09] phyzical commented on #140
hey @forscht this uses the spotify api to gather track information then perform a youtube search and then pulls down the audio of the most relevant found youtube video

from the readme

[code]

But feel free to open a pr to improve anything you find that counters the above :)

[2021-09-25 08:35] #123 closed

[2021-09-26 13:04] #122 closed

[2021-09-30 20:11] SwapnilSoni1999 commented on #138
yeah I would suggest to use a spare account for safety purposes.

[2021-10-04 22:05] sachinraja opened #142 "add pre-commit hook with husky"
## Feature Request
### Proposal
add a pre-commit hook with [husky](https://github.com/typicode/husky) that runs prettier and eslint only on changed files with [lint-staged](https://github.com/okonet/lint-staged)
### Motivation
format and lint before committing
### Outcome

adding the hook

I'm willing to submit a PR for this.

[2021-10-04 22:06] sachinraja commented on #142
Not a bug, that label can be removed

[2021-10-19 12:37] meonkeys opened #143 "error from episode download attempt: waiting for selector `#auth-accept` failed: timeout 30000ms exceeded"
**Describe the bug**
Got an error from episode download attempt: ```waiting for selector `#auth-accept` failed: timeout 30000ms exceeded```. Was using a registered user. Can log in to registered user from Firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo docker run -it --user=$(id -u):$(id -g) -v $(pwd):/download --rm spotify-dl -u 'REDACTED_EMAIL' -p 'REDACTED_PASSWORD' https:/

[2021-10-25 00:53] #99 closed

[2021-11-03 16:36] Abzolutely commented on #137
Yes but where exactly?
Ps: I'm using termux on android

[2021-11-05 14:29] #134 closed

[2021-11-06 08:24] SwapnilSoni1999 commented on #137
you can check by typing `ls` command
use this command wherever you used the `spotifydl` command in termux path

[2021-11-06 11:52] Abzolutely commented on #137
Ok I figured that out thanks

But there is an issue when I try to download a whole playlist, it just download a part of a song and then the terminal shows that it's done

[2021-11-06 20:03] SwapnilSoni1999 commented on #137
can you share the link of the playlist

[2021-11-06 20:52] Abzolutely commented on #137
https://open.spotify.com/playlist/3o8vXXLGb6YyaA6E1On17N?si=Juk6PwpTTWy3NDC14htIAw&utm_source=copy-link

Here it is

[2021-11-10 12:47] Soulplayer commented on #137
what is the right flag for the docker output?

[2021-11-26 11:21] #136 closed

[2021-11-27 01:09] #130 closed

[2021-12-03 23:41] #142 closed

[2021-12-06 22:10] #140 closed

[2021-12-06 22:10] #138 closed

[2021-12-15 18:50] PiSaucer opened #144 "Downloads Music Video, not the song"
**Describe the bug**
Almost every song that is downloaded is the music video of the song. It's not the normal song.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Any Song

**Expected behavior**
I thought it would compare the times to select the non-music video version.

**Desktop (please complete the following information):**
 - OS: Windows 11 Pro
 - Python: 3.8.1
 - Verison: 1.0.

[2021-12-17 04:26] answerquest opened #145 "TypeError: Cannot read property 'name' of null"
**Describe the bug**
Unable to download an episode

**To Reproduce**
Steps to reproduce the behavior:
1. Command prompt:
[code]
Output:
[code]

**Expected behavior**
Should have downloaded the episode (video / audio whichever)

**Desktop (please complete the following information):**
 - OS: Linux Mint Xfce 20.1 codename ulyssa
 - Version spotify-dl latest version 1.0.5 as per https://www.npmjs.com

[2021-12-18 13:08] #135 closed

[2021-12-31 09:05] #143 closed

[2022-01-02 14:29] Jolly-Pirate commented on #145
Same issue, trying to download a video podcast.

[2022-01-05 11:08] IsslamEl commented on #145
same issue on Windows 10 Pro. spotifydl version 1.0.5

[2022-01-14 01:54] retrogradeorbit opened #146 "ERR_UNSUPPORTED_ESM_URL_SCHEME"
**Describe the bug**
Program exits with error: ERR_UNSUPPORTED_ESM_URL_SCHEME

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install programme with `npm install -g spotify-dl`
2. execute the program

**Expected behavior**
The program should run

**Desktop (please complete the following information):**
 - OS: Ubuntu 18 Linux

[2022-01-15 00:16] 2V3EvG4LMJFdRe commented on #146
Same on macOS High Sierra.

[2022-01-16 14:23] #137 closed

[2022-01-21 09:16] phyzical commented on #144
hmm @PiSaucer thanks for this, i guess i honestly have never checked if it was getting a music video vs a non music video,

i would proably argue its due to the fact the youtube API returns the "most relevant" which is probably the music video.

There is a few ways around this.

* we can look at improving the youtube matching (to be honest this is very dumb atm) (Help welcome)
* you can use the pa

[2022-01-21 10:13] phyzical commented on #145
@Jolly-Pirate   this tool only has the ability to download mp3's not videos. (atleast at this time).

It will also only search youtube to see if something exists, so if its partial its probably what is found on youtube based on whatever spotify names everything.

@IsslamEl  @answerquest this issue occurs when you do not provide auth as some episodes fail to return stuff from the spotify api for wh

[2022-01-21 10:30] phyzical commented on #146
hey @retrogradeorbit  and @2V3EvG4LMJFdRe

Thanks for the issue, i think the issue may be the node version? its working for myself on node 14.

But i have posted a pr to update the readme to help others.

Feel free to let me know if node 14 does not fix the issue.

[2022-01-21 23:15] 2V3EvG4LMJFdRe commented on #146
Thanks for taking a look at it. I'm not sure what has changed, not really familiar with what node is or how it installed/updated. I've removed spotifydl and installed from 0 like this:

[code]

[2022-01-22 15:20] phyzical commented on #146
hey @2V3EvG4LMJFdRe what is the output for `node --version`

[2022-01-22 19:00] 2V3EvG4LMJFdRe commented on #146
v17.4.0 @phyzical

[2022-01-26 01:56] phyzical commented on #146
@2V3EvG4LMJFdRe thanks, i would suggest just reinstalling your node if your not super familiar with how it all works, another options is to use something like  nvm (https://github.com/nvm-sh/nvm)

[2022-01-26 17:36] SwapnilSoni1999 commented on #145
Pushing the new update sorry for delaying my mental and physical health is not good since many weeks
Apologies

[2022-01-26 21:03] SwapnilSoni1999 commented on #145
Upgreaded to `1.0.7` please check and confirm if the issue is still there or not

[2022-01-27 03:56] phyzical commented on #145
@SwapnilSoni1999 never say sorry for taking care of yourself ;) can confirm its up to date now 👍

![image](https://user-images.githubusercontent.com/5182053/151289367-86afc992-28d3-4d08-a972-a08d8831d0cc.png)

[2022-02-07 17:46] SwapnilSoni1999 commented on #145
Not fine since months tbh but just breathing. Doing whatever work I could but its okay and btw let me know if there are anymore issues left please I'm out of track

[2022-02-08 03:44] phyzical commented on #145
nope we are all good 👍 get better soon <3 feel free to close this

[2022-02-17 17:37] SwapnilSoni1999 commented on #145
I cant thankyou enough for handling the entire project <3 I guess I'll never be fine but thats all I can live with. I wish to become a helpful asset for you let me know if you need anything. Again extremely appreciated

[2022-02-17 17:37] #145 closed

[2022-02-24 17:39] wazowski389 opened #151 "Got a spotify api error (WebapiRegularError: An error occurred while communicating with Spotify's Web API."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-24 17:39] wazowski389 commented on #151
this happens when i try to download a playlist

[2022-02-24 23:42] phyzical commented on #151
@wazowski389 did you fix this?

[2022-02-25 01:28] wazowski389 commented on #151
yeah

[2022-02-25 01:29] phyzical commented on #151
:D if you want it does support your login to see your privates, if your using via a terminal it should just be
![image](https://user-images.githubusercontent.com/5182053/155636371-c74a168f-ac0a-4b07-9299-4642afc6ffd2.png)

[2022-02-25 01:32] wazowski389 commented on #151
yeah, the second time i did it that way and it worked.

[2022-03-13 20:02] SokolskyNikita opened #152 "Login stuck at "You agree that spotify-dl will be able to" screen"
**Describe the bug**
Auth fails because spotify-dl can't get past the "You agree that spotify-dl will be able to" screen. See attached `failure.png`

**To Reproduce**
1. Download spotify-dl (I've used the npm version)
2. Try to download a podcast episode

**Expected behavior**
Auth succeeds

**Screenshots**
![failure](https://user-images.githubusercontent.com/1880652/158076817-c5dcbf0f-b667-4ecf-9

[2022-03-13 23:31] phyzical commented on #152
hmm i might not have added logic to auto click this (i guess i dont think we should, force the user to accept it manually but docs should be updated to enform users of this).

are you providing the `--u` and `--p`? that uses headless to to try and login for you what you can use instead is use the `--l` flag which will serve it via a browser instead

[2022-03-13 23:34] SokolskyNikita commented on #152
You're right, `--l` does work. But I think at least adding a warning about why it fails could be useful if you don't want to click on Agree.

[2022-03-13 23:35] phyzical commented on #152
you have to agree its just saying "this app needs access toy our playlists ect", but i agree we need to add some more to the readme to inform users :) will do it later today

[2022-03-22 11:17] phyzical commented on #144
not yet

[2022-04-04 09:04] #146 closed

[2022-04-18 02:57] #152 closed

[2022-04-18 09:53] Hamds-Lover opened #155 "Can't Find Downloads"
**Q:**
Where are downloads saved to?

[2022-04-18 10:03] #155 closed

[2022-04-21 03:10] Xmetalfanx commented on #144
I have to admit I have not used this script/app in a little bit but this did not happen to me when i first discovered Spofity-dl but the last few times i used it, this would happen to me too ... it seemed like it was defaulting to the Youtube video first, as some tracks had something at the start or ending (before any music) that was clear that it was the video version of the song.

It did downloa

[2022-04-21 04:25] phyzical commented on #144
@Xmetalfanx thanks for the input, did you happen to be searching the exact same search terms? its possible you were just lucky the first time. though maybe ill have a sniff around the YT stuff and see if there was something thats now favoring music videos. but again i think its just the fact that music videos of songs get more views and thus are higher in the list to get auto downloaded.

we could

[2022-04-23 19:29] maej20 opened #156 "Docker: Stuck at "Performing Spotify Auth Please Wait...""
**Q:**
I'm trying to use the -login flag, but I'm never prompted with a login form.
Command being run: `docker run -it --user=$(id -u):$(id -g) -v $(pwd)/downloads:/download --rm spotify-dl --l $URL`
What am I doing wrong?

[2022-04-24 03:24] phyzical commented on #156
i might have to update the documentation, so the issue here is you cant use --l at all with docker as well theres no "screen"
[code]

you can try --u and --p, if it doesnt work i suggest running --l without docker once to authorise the app and then --u --p should work fine with docker

[2022-04-25 23:45] maej20 opened #157 "Cover Image - Invalid data found when processing input"
**Describe the bug**
Fails to download cover image properly, crashes with FFMPG error: "Invalid data found when processing input".  Restarting process completes song without issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `spotifydl "<spotify-playlist-link>"`
2. Allow some songs to complete (sometimes 5, sometimes 30+)
3. Crash

**Expected behavior**
Playlist download completes wi

[2022-04-25 23:47] maej20 commented on #157
I've tried fixing it myself, but it's completely random when it happens, can take quite a while to reproduce, and I'm not familiar enough with Javascript to debug at such a slow pace...figured someone else would probably know right off what to do

[2022-04-26 00:11] phyzical commented on #157
thanks for the detailed report 👍

does it happen with the same song or random songs by chance?

hmm maybe we can make a "fake" picture for replicating purposes to try a fix

[2022-04-26 00:34] phyzical commented on #157
nah i think i remember trying to do the exact same thing to try and fix it.

just i think from memory it wasn't that the file saved was a zero byte but it was a malformed image that ffmpeg didn't like and cause it was so random i removed the code 😆

though it could've been doing exactly what you were saying

if you want to try and build a fix and it happens again comment out the part that redownlo

[2022-05-05 18:02] Eduardo-Guerra-Alvarez opened #158 "Only directory"
**Q:**
Hi! I like spotify-dl, it's a awesome tool.
There are some option to only download the song in the specific directory and don't create subdirectories?

Because I don't like that create many subdirectories, i prefer download only the song in my directory Music

Thanks

[2022-05-05 18:41] SwapnilSoni1999 commented on #158
You can use `--oo`

[2022-05-13 03:33] hellomyzn opened #159 "Songs are different"
**Describe the bug**
I tried to download [this album](https://open.spotify.com/album/4TPmFi8XmAESJ8JYeKJElU). but when I check the songs downloaded, Some songs are different.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command below
[code]
2. Wait for done
3. Check the songs downloaded and on Spotify

**Expected behavior**
Songs are the same as on Spotify

**Screenshots**
After r

[2022-05-13 14:51] z5kb opened #160 "A different (and possibly better) search arguments format"
**Is your feature request related to a problem? Please describe.**
Currently, the search arguments spotifydl passes to youtube-dl, are in the following format (at least most of the time; example: when specifying --extra-search, the format is different):
`<song_name> - <album_name>`

When trying to download the album "Exhale" from the band "Thousand Foot Krutch" and reaching the song "Adrenaline",

[2022-05-14 02:25] phyzical commented on #159
yeah thats correct, what we do is use the spotify api to get a decent amount of context then hit youtube with this context and we have to just "guess" which ones correct its pretty "dumb", then rip the first relevant youtube link found.

tldr what you've said is exactly how it works.

[2022-05-14 07:09] phyzical commented on #160
@z5kb thanks for suggestion, from memory the reason i went `song - album` as due to the fact depending on how you request a download the "artist" was never the best reference due to how the spotify api worked i.e

say you request all songs from artist X, it will find all albums they are part of, which could result in an album in which they simply were collaborating  i.e for artist Y this means tha

[2022-05-14 09:54] hellomyzn commented on #159
@phyzical

Thank you for your explanation.
I got it 👍

[2022-05-14 09:54] #159 closed

[2022-05-16 08:13] z5kb commented on #160
I understand why you made it this way, but why do you need to request all the songs of a given artist (from the Spotify API)? I thought you simply request the full album (at least in my case where you are trying to download an album; and isn't requesting to download all the albums of an artist more like a corner case? I think most people won't do that), which gives you all the songs in the album.

[2022-05-16 08:26] phyzical commented on #160
@z5kb sorry so what i mean is it was standardized to work almost exactly the same irrelevant of what the user requests,
song, album, artist, show ect. if an album is requested it will only get the songs for that album (unless your noticing something else) so that it just gets a list of things to search for, the issue is that when you ask for a things artists, what i found is that it doesnt always

[2022-05-17 10:54] phyzical commented on #156
closable

[2022-05-17 11:10] #156 closed

[2022-05-17 13:35] #160 closed

[2022-05-17 15:32] vvatermelon opened #163 "Add track number metadata to downloaded tracks"
**Is your feature request related to a problem? Please describe.**
In my use case, this tool works exceptionally well but I have to manually add track numbers to downloaded albums in order to preserve the original order of the album. In a small scope this is reasonable, but at scale it seems logical to integrate into the merge metadata step.

**Describe the solution you'd like**
I think an extra o

[2022-05-19 07:37] phyzical commented on #163
@vvatermelon hey there, thanks for the request and suggestions of how to implement.

having a quick look we should have access to the track_number given all the search contexts from the api, so i will make a pr up to add it now :)

[2022-05-19 08:08] phyzical commented on #163
<img width="336" alt="image" src="https://user-images.githubusercontent.com/5182053/169244658-067a6e5b-8ecb-44fa-bd50-f4aff94463f3.png">
alright looks to be working doesn't report in generic "get info" for osx but other applications seem to respect this metadata hopefully whatever your using it for will too

[2022-05-25 08:27] switch-gott opened #165 "Download 320Kbps"
Hi,
is it possible to download with best quality settings oder 320kbps?
Big thanks

[2022-05-25 08:33] arinoki commented on #165
Spotify-dl actually downloads from YouTube, and YouTube doesnt have mp3 at all. It uses mostly opus codec, rare - aac.

As an example
![image](https://user-images.githubusercontent.com/966158/170218577-75cea798-bf09-48f2-b7bc-5974467d6284.png)

[2022-05-25 09:11] switch-gott commented on #165
Hi thanks for answer.
Oh ok. I thought it use direkt connection to spotify, no youtube dl.
Is it possible to download direct from spotify?
Have a look at this tool
https://github.com/eviabs/downtify-premium
Realy good one. And worked till last week.
I dont know what spotify had changed to kill it :-(

[2022-05-25 09:13] phyzical commented on #165
Afraid direct from spotify isn't possible with this tool, sorry

[2022-05-27 00:31] phyzical commented on #165
closable

[2022-06-08 02:25] Niloc3 commented on #144
having this same issue, what search term do you think would help avoid music videos and just get the song? I haven't looked at the YouTube api in forever so not sure if it's possible but being able to search for videos that don't include "Music Video" could help a ton if possible.

[2022-06-08 11:12] phyzical commented on #144
@Niloc3 i had a look when i was applying the suggested functionality update from above, sadly there isn't any such functionality in the api itself there are just videos. its just getting the most relevant/most popular and that happens to be music videos

[2022-06-08 23:47] Niloc3 commented on #144
@phyzical thanks for the info, I guess the music video is the best we got

[2022-06-08 23:49] arinoki commented on #144
well, best one is still webm (ogg) 128kbps we can get from utube - so doesnt really matter music video or not. the only exception is live videos for obvious reasons.

[2022-06-09 01:24] phyzical commented on #144
if anyone notices a common piece of text in the title i can look into adding a "exclude filter" flag also,say if they all contained "live" or something it would justify the requirement to add the feature

[2022-06-09 02:28] arinoki commented on #144
well, "live", "concert", "club" is first words that keep in mind. probably "cover" too if we wanna original. but we have a lot of covers on spotify aswell, so need double-check.

[2022-06-09 02:29] arinoki commented on #144
is there some kind of DMs? cause i cant find.

[2022-06-09 03:28] arinoki commented on #144
ok, just add me on discord - Sora-#8039 and we will make brainstorm about filter words

[2022-06-09 06:13] phyzical commented on #144
Sorry what i meant was if you find these as common tags, then ill just make the feature so users can provide filter text i.e if any text that matches any filters are found as a whole word, check the next video

Blah LIVE song X
Blah Concert song X
Blah Song X

and so if the user provided say `--filter="LIVE, Concert"` it would skip the first two and return the third.

just wanted to confirm it wou

[2022-06-09 09:50] arinoki commented on #144
I think overall this will be used by <1% of users, but overall its up to u if implement or not.

[2022-06-17 16:38] createvi opened #166 "Very Slow Download Speed"
**Describe the bug**
Very Slow Download Speed. I have an internet speed of 18mbps download and upload but when i download a song playlist the network speed is very slow i am hardly getting 100kbps. Why is this happening?

**To Reproduce**
Steps to reproduce the behavior:
1. Download Any Playlist/Album
2. See The Downloading Speed

**Expected behavior**
Songs Downloading Speed Should Be Higher.

**

[2022-06-17 16:44] createvi commented on #166
[code]
This Shows Up Too, Everytime. i did what it said and it still shows up while downloading a song

[2022-06-17 16:57] arinoki commented on #166
Can u link an example of slow playlist? So will check it on windows.

[2022-06-17 17:08] createvi commented on #166
https://open.spotify.com/playlist/6u7VAC36wQF4gJ2mGEbnte
This is my own playlist.

[2022-06-17 17:20] arinoki commented on #166
Well, different audio tracks different speed. But overall from 300 kbps to few mb. So cant say its too slow.

[2022-06-17 17:24] #166 closed

[2022-07-02 21:56] #157 closed

[2022-07-06 14:00] nicolasbonnet opened #167 "[DOCKER] [CHROME] Error build image due to google chrome invalid pub key"
**Describe the bug**
Error during building docker image:
[code]

**To Reproduce**
Just build the image with command:
`docker build -t spotify-dl .`

**Desktop (please complete the following information):**
 - OS: linux ubuntu 20.04

**Additional context**

I suggest to add line in Dockerfile which will install pub key for chrome repo:
`RUN wget -q -O - https://dl.google.com/linux/linux_signing_key

[2022-07-11 20:00] #158 closed

[2022-07-18 09:04] StarNumber12046 opened #168 "starting at a specific song"
**Is your feature request related to a problem? Please describe.**
Ihave a VERY long playlist 8about 400 songs) and I would like to download only the last 70 songs
**Describe the solution you'd like**
I would like to let the dowloader start from a specific songs

**Describe alternatives you've considered**
Downloading from a list of titles

**Additional context**
![image](https://user-images.githu

[2022-07-19 06:47] phyzical commented on #168
im not sure if we really get the songs in the correct order, but one workaround would be to add the other 330 song ids into the cache file so it thinks they have already downloaded. though i cant think of a nice way to pull that off easily besides using the api yourself to get all the ids to exclude.

if your dev savvy at all https://developer.spotify.com/console/get-playlist-tracks/ would be the

[2022-07-19 06:54] StarNumber12046 commented on #168
Thanks for the reply, it seems to me to retrieve the songs in order btw I will try to do it manually
On Jul 19, 2022 at 8:47 AM +0200, Jack ***@***.***>, wrote:

[2022-07-19 06:58] phyzical commented on #168
ah fair enough, i guess to give the suggestion a fair play out how would this new feature flag work? maybe  `--song-range 3,10` or for your case `--song-range 330,n`

this could work for the specific case of a single show, album or playlist. but im just wondering how useful it would be to others as most just try to gulp it all.

we can leave this open to see if any other interest comes in and read

[2022-07-20 09:33] phyzical commented on #167
a fellow make target enthusiast :)

thanks! ill make a pr for it now

[2022-07-20 10:09] StarNumber12046 commented on #168
this implementation prototype seems good to me, it could be used

[2022-07-30 16:42] javalsai commented on #144
I tried to fix this by preferring the download of songs with a the duration more close to the original song from spotify.

I did it in [my own fork of the project](https://github.com/javalsai/spotify-dl), and it works with half of some songs [that I know are problematic](https://open.spotify.com/playlist/3JXIuSvkf6JDLUf4p8bWTH?si=905b6bf3f3424e33), I guess that I should add more sorting preference

[2022-08-01 00:07] phyzical commented on #144
@javalsai Sure, good idea!

did you notice any issues going with this approach?

[2022-08-01 00:19] javalsai commented on #144
@phyzical yes, I ended up including more factors like the channel name... and giving more "points" according to them.

The problems come with songs like "Fluorescent Adolescent - Artic Monkeys" that isn't uploaded to their official channel and other songs that are in the channel get more points, this can be solved by playing with the importance of each of those factors and the current values kinda

[2022-08-01 00:40] javalsai opened #171 "Covers of songs have `EOI missing` (according to ffprobe)"
**Describe the bug**
Most of the covers of the songs have `EOI` missing (according to ffprobe), which means that the image is corrupt or didn't finish downloading when being added to the song. This leads to the image not displaying correctly on file managers, music players...

**To Reproduce**
Steps to reproduce the behavior:
1. Download any playlist with the spotify-dl cli and most images should

[2022-08-01 00:49] javalsai commented on #171
Not sure if it is because of this, but assuming that the cover is a `jpg` isn't probably a good idea.
https://github.com/SwapnilSoni1999/spotify-dl/blob/09b803f4225e7d85e5304e220ae90fabaa8b787e/lib/metadata.js#L8-L31

[2022-08-01 00:52] phyzical commented on #171
feel free to give `png` a try, from memory it had to be a `jpg` but i could be wrong

[2022-08-01 01:02] javalsai commented on #171
@phyzical I see that for audio download you use ffmpeg to make sure of the format, as far as I know ffmpeg also works with images, so I'm giving it a try

[2022-08-01 01:05] javalsai commented on #171
Seems to be working, I'll download a full playlist and if it does work I'll open a PR

[2022-08-02 08:54] #165 closed

[2022-08-06 09:09] thribhuvanrapolu opened #173 "Is there a way to skip songs in a playlist from downloading again?"
So I downloaded a playlist. After few days i added few songs into my playlist on spotify. When i download the playlist all the songs which are downloaded are downloaded again and getting replaced. Is there a way to prevent this?

[2022-08-08 01:43] phyzical commented on #173
there is a file that saves the unique id of a song `.spldcache` or something like that byt default, just provide the `--cf /directory/to/file.txt` flag and it will use this file instead as your "remember what ive downloaded`.

[2022-08-08 06:15] thribhuvanrapolu commented on #173
Got it. Thanks!

[2022-08-08 06:15] #173 closed

[2022-09-03 04:03] #144 closed

[2022-09-03 04:03] #163 closed

[2022-09-03 04:03] #167 closed

[2022-09-04 17:22] MaitreGEEK opened #174 "Couldn't find ffmpeg. Please install https://ffmpeg.org"
**Q:** The module ask me to install ffmpeg but it is already installed and the folder ffmpeg is in the same folder when I do the command.

[2022-09-04 18:08] MaitreGEEK commented on #174
![image](https://user-images.githubusercontent.com/90345438/188327531-ccc3495a-4bd8-4ae3-86bf-6047d8f53ae2.png)
(I modified to see the error :
![image](https://user-images.githubusercontent.com/90345438/188327554-9a84151b-4b61-4d33-8911-df140786cbe4.png)
)

[2022-09-05 01:10] phyzical commented on #174
hey @MaitreGEEK

could you try `where ffmpeg` in a cmd prompt im guessing ffmpeg isnt in your class path?

[2022-09-05 06:45] MaitreGEEK commented on #174
I m getting the same error as above "INFO: Could not find files for the given pattern(s)." My ffmpeg is in C:\Users\%USER%\AppData\Roaming\nvm\v18.7.0\node_modules

[2022-09-05 07:45] phyzical commented on #174
so yeah the ffmpeg needs to be findable by your system

https://www.wikihow.com/Install-FFmpeg-on-Windows
see step 12

[2022-09-05 08:07] MaitreGEEK commented on #174
Well, okay I see, thanks.

Le lun. 5 sept. 2022, 09:45, Jack ***@***.***> a écrit :

[2022-09-13 22:49] #171 closed

[2022-09-13 22:50] SwapnilSoni1999 commented on #174
solved? all good?

[2022-09-14 08:36] MaitreGEEK commented on #174
I think yes, I didn’t try but I think this is link with the fact that I’m using nvm. It worked on my phone (not with your specific thing for termux but with spotifydl (link) From: Swapnil SoniSent: Wednesday, September 14, 2022 12:50 AMTo: SwapnilSoni1999/spotify-dlCc: MaîtreGEEK; MentionSubject: Re: [SwapnilSoni1999/spotify-dl] Couldn't find ffmpeg. Please install https://ffmpeg.org (Issue #174) 

[2022-09-25 14:08] #168 closed

[2022-09-28 18:47] HannesDev opened #175 "A wrong song is downloaded"
**Describe the bug**
A different song is downloaded.
Meta data and album cover and all is correct, but the song is a complete different one.

Interestingly the same issue happens with a different song from the album, which also downloads the same (wrong) song as the first one.

**To Reproduce**
Steps to reproduce the behavior:
1. `spotifydl "https://open.spotify.com/track/6PqDGnI0FKH8OjkwozU4MU?si

[2022-09-28 18:57] HannesDev commented on #175
I just looked through the closed issues and learned that this tool actually downloads from Youtube, not Spotify. This is quite confusing - how about changing the readme so that this becomes more clear?

[2022-09-28 20:21] arinoki commented on #175
Well, it is exactly in readme
"The ability to find a video is dependent on the fact it is hosted on **youtube**, and even then there is a chance it is still incorrectly matched"

[2022-09-28 20:41] #175 closed

[2022-10-07 18:17] SwapnilSoni1999 commented on #174
So should I close this?

[2022-10-07 18:18] MaitreGEEK commented on #174
Yes, do it.

Le ven. 7 oct. 2022, 20:17, Swapnil Soni ***@***.***> a
écrit :

[2022-10-11 16:30] SwapnilSoni1999 commented on #174
Much thanks

[2022-10-11 16:30] #174 closed

[2022-11-01 14:02] haidt7 opened #176 "Hi bro, i meet this problem, how can i fix it?"
**Q:**
![image](https://user-images.githubusercontent.com/10104900/199251672-c8c63f3f-f601-4c99-8b94-674e2fd95524.png)

[2022-11-03 04:30] phyzical commented on #176
sorry for the delay, havnt seen this one before, ill give it a go tonight and see whats what

[2022-11-14 15:01] mlltAero opened #177 "Audio distortion using spotdl(download as flac)"
The track [https://open.spotify.com/track/2qBPS84Xgcm1vEjSQ1Ilwp?si=16c7659ddf154681](url) keeps getting distorted when using spotdl, but this doesn't happen when using another tool.

[](https://mllt.admires.tech/nXVOoLVG) - Spectogram section should reach the line
[](https://mllt.admires.tech/bMhyiXMt) - Clearly visible difference
[](https://files.catbox.moe/hz5d0t.mp4) - Video

Reproducing:
1. U

[2022-11-23 19:42] SamuelSHrk opened #178 "Module Not Found on Termux for Android"
**Describe the bug**
Any Spotify link I use to share to Termux throws a module not found error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any album on Spotify
2. Click on Share
3. Select Termux
4. See error

**Expected behavior**
The album should download as normal

**Screenshots**
![Screenshot_20221123-144012.png](https://user-images.githubusercontent.com/43790833/203633236-4a9e8